.agreement-window{
    background: #fff;
    line-height: 2;
    margin: 0 auto;
    padding: 20px;
}

.agreement-window__content{
    padding: 20px;
}

@media only screen and (min-width: 768px){  
    .agreement-window{
        padding: 40px;
    }
    
    .agreement-window__content{
        padding: 40px;
    }
    
}