.back-call-window{
    position: absolute;
    z-index: 30;
    top: 60px;
    left: 50%;

    width: 100%;
    min-width: 320px;
    max-width: 840px;
    
-webkit-transition: all .3s;
       -moz-transition: all .3s;
            transition: all .3s;
       -webkit-transform: translateX(-50%) ;
       -moz-transform: translateX(-50%) ;
        -ms-transform: translateX(-50%) ;
            transform: translateX(-50%) ;

    background: #fff;

    line-height: 2;
    opacity: 0;
    margin-bottom: 60px;
}

.back-call-window--show{
    opacity: 1;
}

.back-call-window__list{
    position: relative;

    width: 75.5%;
    max-width: 710px;
    margin: 0 auto;
    padding: 60px 0;

    list-style-type: none;

    -webkit-transition: all .3s;
       -moz-transition: all .3s;
            transition: all .3s;
    -webkit-transform: translateY(20%);
       -moz-transform: translateY(20%);
        -ms-transform: translateY(20%);
            transform: translateY(20%);

    opacity: 0;
}

.back-call-window__list--show{
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);

    opacity: 1;
}

.back-call-window__call.btn{
    max-width:  100%;
}

.back-call-window__close-btn{
    top: 20px;
    right: 20px;
}


@media only screen and (min-width: 480px) {
    .back-call-window__close-btn{
        top: 30px;
        right: 30px;
    }
}

@media only screen and (min-width: 992px) {
    .back-call-window__close-btn{
        top: 40px;
        right: 40px;
    }
}