.content{
    line-height: 2;

    margin: 10px 0;
    padding: 1px 0;
}

.content__wrapper{
    width: 90%;
    max-width: 1440px;
    margin: 50px auto;
}

.content__wrapper--blueBordered{
    padding: 45px 0;

    border: 1px solid #b4b4b4;
    background: #f8fbfe;
}

.content__wrapper--max{
    max-width: 1920px;
}

.content__headline{
    font: 25px/33px 'ProximaNovaBold';

    margin: 10px 0 40px 0;

    text-align: center;
}

.content__headline.content__headline--indent-40{
    margin-bottom: 40px;
}

.content__headline--no-indent{
    margin-bottom: 10px!important;
}

.content__headline.content__headline--indent-top{
    margin-top: 30px;
}

.content__headline.content__headline--h2{
    font-size: 20px;

    margin: 60px auto 10px ;
}


@media only screen and (min-width: 768px){
    
    .content__wrapper{
        width: 96%;
    }

    .content__headline{
        width: 60%;
        margin: 10px auto 60px;
    }
}

@media only screen and (min-width: 1200px){
    
    .content__headline{
        width: 40%;
    }
}
