.faq-window{
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;

    visibility: hidden;

    width: 100%;
    min-width: 320px;
    height: 100%;

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
}

.faq-window--show{
    visibility: visible;
}

.faq-window__container{
    position: relative;

    height: 100%;
    margin: 0 auto;
    padding: 100px 0 0 80px;

    transition: all .3s cubic-bezier(.25, .5, .5, .9);
    transform: translateX(20%) translateZ(0);
    will-change: transform;

    opacity: 0;
    background: #f7de22;
}

.faq-window__container--show{
            transform: translateX(0) translateZ(0);

    opacity: 1;
}

.faq-window__link{
    font: 15px/40px 'ProximaNovaBold';
}

.faq-window__link--active.link{
    font-size: 19px;

    padding-top: 10px;

    border-bottom: none;
}

.faq-window__close-btn{
    top: 3%;
    right: 8%;;
}

@media only screen and (min-width: 768px){
    
    .faq-window{
        width: 320px;
        /*top: 80px;*/ /* так по дизайну, но мне не нравится */
    }
    
    .faq-window__list{
        transform: translateX(320px) translateZ(0);
    }
    
    .faq-window__list--show{
            transform: translateX(0) translateZ(0);

    }
}