.fix-panel{
    font-size: 13px;
    line-height: 2.4;

    position: fixed;
    bottom: 0;
    top: auto;
    left: 0;

    width: 100%;
    min-width: 320px;
    z-index: 3;
    transform: translateZ(0);
}

.fix-panel--absolute{
    position: absolute;
}

.fix-panel__wrapper{
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

.fix-panel__wrapper:before,
.fix-panel__wrapper:after{
    display: table;

    content: ' ';
}

.fix-panel__wrapper:after{
    clear: both;
}

.fix-panel__wrapper,
.fix-panel__wrapper:before,
.fix-panel__wrapper:after{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.fix-panel__container{
   float: right;
    border: 1px solid #fff;
    border-bottom: none;
}

.fix-panel__btn{
    float: left;

    width: 60px;
    height: 35px;
     padding: 10px 0;

    -webkit-transition: all .3s;
       -moz-transition: all .3s;
            transition: all .3s;
    text-align: center;
    text-decoration: none;
    background-color: #414a57;

    font-size: 30px;
    line-height: 1.2;
    color: #fff;
    border: 1px solid #414a57;
    border-bottom: none;
}


.fix-panel__btn:hover{
    background-color: #fff;
    color: #414a57;
}

