@font-face {
  font-family: "storeBusters";
  src: url('/fonts/storeBusters.eot');
  src: url('/fonts/storeBusters.eot?#iefix') format('eot'),
    url('/fonts/storeBusters.woff') format('woff'),
    url('/fonts/storeBusters.ttf') format('truetype'),
    url('/fonts/storeBusters.svg#storeBusters') format('svg');
  font-weight: normal;
  font-style: normal;
}

.font-ico:before {
  display: inline-block;
  font-family: "storeBusters";
  font-style: normal;
  font-weight: normal;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-ico-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.font-ico-2x { font-size: 2em; }
.font-ico-3x { font-size: 3em; }
.font-ico-4x { font-size: 4em; }
.font-ico-5x { font-size: 5em; }
.font-ico-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.font-ico-basket:before { content: "\EA01" }
.font-ico-big_package:before { content: "\EA02" }
.font-ico-calculator:before { content: "\EA03" }
.font-ico-chart:before { content: "\EA04" }
.font-ico-chat:before { content: "\EA05" }
.font-ico-clock:before { content: "\EA06" }
.font-ico-cubes:before { content: "\EA07" }
.font-ico-delivery:before { content: "\EA08" }
.font-ico-error:before { content: "\EA09" }
.font-ico-facebook:before { content: "\EA0A" }
.font-ico-facebook_footer:before { content: "\EA0B" }
.font-ico-form-fill:before { content: "\EA0C" }
.font-ico-free_packaging:before { content: "\EA0D" }
.font-ico-google:before { content: "\EA0E" }
.font-ico-great_shipping_price:before { content: "\EA0F" }
.font-ico-headphones:before { content: "\EA10" }
.font-ico-livechat:before { content: "\EA11" }
.font-ico-mail:before { content: "\EA12" }
.font-ico-menu:before { content: "\EA13" }
.font-ico-no_commision:before { content: "\EA14" }
.font-ico-okay:before { content: "\EA15" }
.font-ico-order_for_anywhere:before { content: "\EA16" }
.font-ico-package:before { content: "\EA17" }
.font-ico-palm:before { content: "\EA18" }
.font-ico-payment:before { content: "\EA19" }
.font-ico-pigeon:before { content: "\EA1A" }
.font-ico-queen:before { content: "\EA1B" }
.font-ico-registration:before { content: "\EA1C" }
.font-ico-search:before { content: "\EA1D" }
.font-ico-speaker:before { content: "\EA1E" }
.font-ico-twitter:before { content: "\EA1F" }
.font-ico-unlimited_space:before { content: "\EA20" }
.font-ico-view_password:before { content: "\EA21" }
.font-ico-virtual-point:before { content: "\EA22" }
.font-ico-vkontakte:before { content: "\EA23" }