.footer__wrapper{
    border-top: 1px solid #dadada;
}

.footer-top{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 60px 0 0;
}

.footer__payment{
    text-align: center;
}

.footer__payment-content{
    padding: 20px 0 30px;
}

.footer-top__right-part{
    line-height: 1.8;

    padding: 30px 0;
}

.footer__adress{
    text-align: center;
}

.footer__social{
    margin-top: 20px;

    text-align: center;
}

.footer-bottom{
    padding: 50px 0;

    background: #414a57;
}

.footer-bottom__wrapper{
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

.footer__headline{
    line-height: 1.5;

    width: 60%;
    margin: 0 auto;
    margin-bottom: 10px;

    text-align: center;

    color: #fff;
}

@media only screen and (min-width: 480px){
    
    .footer__payment{
        width: 89%;
        margin: 0 auto;

        text-align: left;
    }
}

@media only screen and (min-width: 768px){
    
    .footer__wrapper{
        width: 96%;
        margin: 0 auto;
    }

    .footer__headline{
        width: 100%;
    }

    .footer__payment{
        width: 86%;
    }

    .footer__adress{
        float: left;

        width: 50%;
    }

    .footer__social{
        float: left;

        width: 50%;
        margin: 0;
        padding: 8px 0;
    }
}

@media only screen and (min-width: 992px){
    
    .footer-top__left-part{
        float: left;

        width: 73%;
    }

    .footer-top__right-part{
        position: relative;

        float: right;

        width: 27%;
    }


    .footer__adress{
        position: absolute;
        top: 190px;

        float: none;

        width: 100%;

        text-align: left;
    }

    .footer__social{
        position: absolute;
        top: 0;
        left: 0;

        float: none;

        width: 100%;
        padding: 40px 0;

        text-align: left;
    }

    .footer-bottom__left-part{
        max-width: 1060px;
        margin: 0 auto;
    }

    .footer__headline{
        text-align: left;
    }
}

@media only screen and (min-width: 1200px){
    
    .footer-top{
        padding-bottom: 60px;
    }


    .footer-top__left-part{
        width: 78%;
    }

    .footer-top__right-part{
        width: 22%;
    }

    .footer-bottom__left-part{
        float: left;

        width: 70%;
    }

    .footer-bottom__right-part{
        float: right;

        width: 30%;
    }
}
