.footer-top{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 60px 0 0;
}

.footer-top__right-part{
    line-height: 1.8;

    padding: 30px 0;
}

@media only screen and (min-width: 992px){
    
    .footer-top__left-part{
        float: left;

        width: 73%;
    }

    .footer-top__right-part{
        position: relative;

        float: right;

        width: 27%;
    }
}

@media only screen and (min-width: 1200px){
    
    .footer-top{
        padding-bottom: 60px;
    }


    .footer-top__left-part{
        width: 78%;
    }

    .footer-top__right-part{
        width: 22%;
    }
}