.menu-window{
    line-height: 2;

    position: absolute;
    z-index: 0;
    top: 60px;
    left: 50%;

    width: 203px;
    margin-bottom: 60px;

    -webkit-transition: all .3s;
       -moz-transition: all .3s;
            transition: all .3s;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);

    opacity: 0;
}

.menu-window--show{
    opacity: 1;
    z-index: 30;
}

.menu-window__list{
    position: relative;

    margin: 0 auto;
    padding: 0;

    list-style-type: none;

    -webkit-transition: all .3s;
       -moz-transition: all .3s;
            transition: all .3s;
    -webkit-transform: translateY(20%);
       -moz-transform: translateY(20%);
        -ms-transform: translateY(20%);
            transform: translateY(20%);
    text-align: center;

    opacity: 0;
}

.menu-window__list--show{
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);

    opacity: 1;
}

@media only screen and (min-width: 768px){
    .menu-window{
        position: static;
        /*z-index: 11;*/

        width: 100%;
        margin-bottom: 0;

        -webkit-transform: none;
           -moz-transform: none;
            -ms-transform: none;
                transform: none;

        opacity: 1;

        -webkit-backface-visibility: visible;
           -moz-backface-visibility: visible;
                backface-visibility: visible;
    }

    .menu-window__list{
        -webkit-transition: none;
           -moz-transition: none;
                transition: none;
        -webkit-transform: none;
           -moz-transform: none;
            -ms-transform: none;
                transform: none;

        opacity: 1;
    }
}

@media only screen and (min-width: 1200px){
    .menu-window{
        position: absolute;
        top: -55px;
        left: 17%;

        width: 60%;
    }
}
