.menu__wrapper{
    position: relative;

    width: 84%;
    margin: 0 auto;
}

.menu__item{
    font: 15px/30px 'ProximaNovaBold';
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #3c3c3b;
}

.menu__item:last-child{
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.menu__ico{
    font-size: 21px;

    padding: 5px 7px;

    cursor: pointer;

    border: 3px solid #3c3c3b;
}

.menu__link.link{
        -webkit-transition: all .3s;
           -moz-transition: all .3s;
                transition: all .3s;

        border-bottom: 3px solid transparent;
        hyphens: manual;
        white-space: nowrap;
    }

    
    .menu__link--active.link{
        font-size: 20px;
    }

.menu__name{
    font: 15px/18px 'ProximaNovaBold';

    padding-left: 7px;
}

@media only screen and (min-width: 480px){
    
    .menu__wrapper{
        width: 86.5%;
    }
}

@media only screen and (min-width: 768px){
    
    .menu__wrapper{
        width: 625px;
    }

    .menu__ico{
        display: none;
    }

    .menu__name{
        display: none;
    }

    .menu__item{
        display: inline-block;

        padding-right: 10%;
        padding-bottom: 0;
        margin-bottom: 0;
        border: none;
    }

    .menu__item:last-child{
        padding-right: 0;
    }
    
    .menu__link.link:hover,
    .menu__link--active.link{
        border-bottom: 3px solid #dadada;
        font-size: 15px;
    }

    

    .menu__link:hover + .header__submenu{
        visibility: visible;

        opacity: 1;
    }
}

@media only screen and (min-width: 992px){
    
    .menu__wrapper{
        width: 100%;
        max-width: 1440px;
    }

    .menu__item{
        padding-right: 7%;
    }
}
