.overlay{
    position: fixed;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    visibility: hidden;

    width: 100%;
    min-width: 320px;

    backface-visibility: hidden;
    
}

.overlay--show{
    visibility: visible;
    z-index: 19;
}

.overlay--yellow{
    background: #f7de22;
}

.overlay--black{
    background: rgba(104, 104, 104, .84);
}

.overlay--scroll{
    overflow: scroll;
    overflow-x: auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

@media only screen and (min-width: 768px){
    .overlay--menu{
        visibility: visible;
        background: transparent;
        position: static;
    }
    .overlay--menu.overlay--scroll{
        overflow: hidden;
    }
}

@media only screen and (min-width: 992px){
    .overlay--scroll{
        overflow-y: hidden;
    }
}
