.overlay{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
}

.overlay--yellow{
    background: #f7de22;
}

.overlay--black{
    background: rgba(104, 104, 104, .84);
}