.reviews__container{
    margin-bottom: 40px;
    padding: 20px;
}

.reviews__img{
    display: none;
}

.reviews__container:nth-child(even){
    color: #fff;
    background: #414a57;
}

.reviews__container:nth-child(odd){
    border: 1px solid #b4b4b4;
    background: #fff;
}

.reviews__paragraph{
    margin-top: 0;
}

.reviews__txt-container{
    float: none;
}

@media only screen and (min-width: 768px){
    
    .reviews__container{
        margin-bottom: 0;
        padding: 5px 20px;
    }

    .reviews__container:nth-child(even),
    .reviews__container:nth-child(odd){
        border: none;
        background: #fff;
    }

    .reviews__container:nth-child(even) .reviews__txt-container{
        background: #414a57;
    }

    .reviews__container:nth-child(odd) .reviews__txt-container{
        border: 1px solid #b4b4b4;
    }

    .reviews__txt-container{
        float: left;

        padding: 30px 50px;
    }

    .reviews__img{
        position: relative;

        padding-right: 30px;
        padding-left: 0;
        display: block;
    }

    .reviews__img:before{
        position: absolute;
        top: 50%;
        right: 0;

        display: block;

        width: 0;
        height: 0;
        margin-top: -18px;

        content: '';

        border-top: 18px solid transparent;
        border-right: 30px solid;
        border-bottom: 18px solid transparent;
    }

    .reviews__img--even:before{
        border-right-color: #414a57;
    }

    .reviews__img--odd:before{
        border-right-color: #b4b4b4;
    }

    .reviews__img--odd:after{
        position: absolute;
        top: 50%;
        right: -1px;

        display: block;

        width: 0;
        height: 0;
        margin-top: -17px;

        content: '';

        border-top: 17px solid transparent;
        border-right: 30px solid #fff;
        border-bottom: 17px solid transparent;
    }
}
