.shop-list{
    margin: 0;
    padding: 20px 20px 0 20px;

    list-style-type: none;
}

.shop-list__item{
    padding: 0;
}

.shop-list__link.link{
    display: block;

    text-align: center;

    border: none;
}

.shop-list__link{
    padding: 15px 25px;
}

.shop-list__link--active,
.shop-list__link:hover{
    background: #f7de22;
}


@media only screen and (min-width: 768px){
    .shop-list{
        padding: 30px;
    }
    .shop-list__item{
        display: inline-block;

        padding: 0;
    }

    .shop-list__link.link{
        display: inline-block;
    }
}
