.submenu__item{
    font-family: 'ProximaNovaRegular';
}

.submenu__link.link{
    color: #000;
    border-bottom: none;
}

@media only screen and (min-width: 768px){
    
    .submenu__item{
        font-family: 'ProximaNovaBold';

        display: inline-block;
    }
    
    .submenu__link{
         padding: 15px 20px;
    }
    
    .submenu__link:hover,
    .submenu__link--active{
        background: rgba(255, 255, 255, 0.65);
    }
}

@media only screen and (min-width: 992px){
    
    .submenu__link{
        padding-left: 40px;
        padding-right: 40px;
    }
}
