.subscribe__headline{
    padding-bottom: 20px;

    text-align: center;

    color: #fff;
}

.subscribe__btn{
    width: 220px;
    margin: 0 auto;

    -webkit-transition: all .2s linear;
       -moz-transition: all .2s linear;
        -ms-transition: all .2s linear;
         -o-transition: all .2s linear;
            transition: all .2s linear;

    border: none;
    background: #f7de22;
}

.subscribe__btn:hover{
    box-shadow: 0 0 0 3px #f7de22;
}


@media only screen and (min-width: 768px){
    
    .subscribe__headline{
        text-align: left;
    }
}

@media only screen and (min-width: 992px){
    
    .subscribe__email{
        float: left;

        width: 75%;
        margin-bottom: 0;
    }

    .subscribe__btn{
        float: right;
    }
}

@media only screen and (min-width: 1200px){
    
    .subscribe__email{
        width: 75%;
    }

    .subscribe__btn{
        width: 24%;
    }
}
