.table{
    width: 100%;
}

.table--spacing{
    border-spacing: 5px 0;
    border-collapse: separate;
}

.table__body--striped .table__row:nth-child(odd){
    background: #fff;
}

.table__cell{
    padding: 10px 20px;
    margin: 0;
}

.table__cell.table__cell--no-padding,
.table__cell--no-padding{
    padding-right: 0;
    padding-left: 0;
}

.table__cell--side-bordered{
    border-right: 1px solid #dadada;
    border-left: 1px solid #dadada;
}

.table__cell--top-bordered{
    border-top: 1px solid #dadada;
}

.table__cel--w-17{
    width: 17%;
}

.table__cell--l-bordered{
    border-left: 1px solid #dadada;
}

.table__cell--b-bordered{
    border-bottom: 1px solid #dadada;
}

@media only screen and (min-width: 480px){
    
    .table__cell{
        padding: 20px;
    }

    .table--spacing{
        border-spacing: 10px 0;
    }
}

@media only screen and (min-width: 768px){
    
    .table__cell{
        padding: 20px 40px;
    }

    .table--spacing{
        border-spacing: 30px 0;
    }
}
