.track-table{
    margin: 0;
}

.track-table__row,
.track-table__row.row{
    margin-top: 0px;
}

.track-table__cell{
    margin: 0;
}

.track-table__content{
    padding: 0 20px 0;
}


.track-table__hidden-headline{
    padding: 20px 0;
    text-align: center;
    font-family: 'ProximaNovaBold';
    margin-left: -20px;
    margin-right: -20px;
}

.track-table__hidden-headline--yellow{
    background: #f7de22;
    margin-bottom: 15px;
}

.track-table__img{
    margin-bottom: 25px
}

@media only screen and (min-width: 768px){
    .track-table{
        margin: 50px auto;
    }
    
    .track-table__row,
    .track-table__row.row{
        margin-top: 0;
        margin-left: 0;
    }
    .track-table__cell{
        padding-left: 0;
    } 
    
    .track-table__content{
        padding: 30px;
    }

    
    .track-table__hidden-headline{
        padding: 0;
        margin: 0;
    }
    
    .track-table__hidden-headline--yellow{
        margin-bottom: 0;
    }
    
    .track-table__img{
        margin-bottom: 0
    }
}