.vacancies__elem{
    padding: 10px 30px;

    background: #f7de22;
}

@media only screen and (min-width: 992px){
    
    .vacancies{
        width: 78%;
        margin: 0 auto;
    }
    
    .vacancies__elem{
        padding: 30px 60px;
    }
}
