.wrapper{
    margin: 50px auto;
}

.wrapper--710{
    max-width: 710px;
}

.wrapper--790{
    max-width: 790px;
}

.wrapper--815{
    max-width: 815px;
}

.wrapper--830{
    max-width: 830px;
}

.wrapper--940{
    max-width: 940px;
}

.wrapper--1120{
    max-width: 1120px;
}

.wrapper--1170{
    max-width: 1170px;
}