.header__bottom
    a(href='index.html').header__logo
        img(src='images/header-logo.png' alt='logo Storebusters').img.img--response
    .header__tel.js-btn_back-call-window.js-show_overlay
        a.header__tel-number 8-800-888-888
        |заказать обратный звонок
    .clearfix