include ../../mixins/menu
include ../../mixins/submenu
.header__menu
    .header__menu-wrapper            
        nav(role='navigation').menu
            .btn.btn--close.menu__btn-close
            ul.menu__container
                li.menu__item
                    +menu({
                        href: 'delivery.html',
                        name: 'Service'
                    }, 0)
                    +submenu([
                        {
                            href: 'delivery.html',
                            name: 'Our service fees'                            
                        },
                        {
                            href: 'wholesale-goods.html',
                            name: 'For business'                            
                        },
                        {
                            href: 'virtual-address.html',
                            name: 'Your mail forward&shying address for shopping'                            
                        }
                    ], '0')
                li.menu__item 
                    +menu({
                        href: 'catalog-shops.html',
                        name: 'Магазины'
                    }, 1)
                li.menu__item
                    +menu({
                        href: 'about.html',
                        name: 'О нас'
                    }, 2)
                    +submenu([
                        {
                            href: 'about.html',
                            name: 'Контакты'                            
                        },
                        {
                            href: 'agent.html',
                            name: const_howWork                            
                        },
                        {
                            href: 'news.html',
                            name: 'Блог'                            
                        }
                    ], '1')
                li.menu__item
                    +menu({
                        href: 'delivery-single-page.html',
                        name: 'Доставка, гарантия, возврат'
                    }, 3)
                            
        div(role='button').header__faq ?
        span(role='button' aria-describedby='menu__name').menu__ico
            i.font-ico.font-ico-menu
        span.menu__name#menu__name меню