block header
    header(role='banner').header
        include header__top.authorized.jade

        include header__bottom

        include header__menu

        include ../faq-window/faq-window

        include ../back-call/back-call

        .overlay.js-overlay_faq-window.js-hide_overlay


