block header
    header(role='banner').header
        include header__top.authorized.jade

        include header__bottom

        include header__menu

        include ../faq-window/faq-window

        .overlay.js-overlay_back-call-window.overlay--black.js-hide_overlay.overlay--scroll
            .back-call-window.js-stopProp
                .js-close_overlay.btn.btn--close.js-close-btn_back-call-window.back-call-window__close-btn
                .back-call-window__list
                    .headline Обратный звонок
                    form(action='').form
                        label.form__label Введите номер мобильного телефона и мы перезвоним Вам
                        .form__holder
                            input(type='tel' placeholder='Телефон' name='' required).form__item.form__input.js-required
                            .form__ico-result
                        .form__holder
                            input(type='text' placeholder='Ваше имя и фамилия' name='' required).form__item.form__input.js-required
                            .form__ico-result
                        .timepicker.form__holder
                            input(type='text' placeholder='Другое время' required).form__input.form__item.js-required#timepicker
                            span.timepicker__ico: i.fa.fa-clock-o
                            .form__ico-result
                        input(type='submit' value='Заказать обратный звонок' data-i=2).form__item.form__submit

        .overlay.js-overlay_faq-window.js-hide_overlay


