.header__top
    .header__wrapper
        .header__track.track
            a(href='track-package.html').track__link.link Отследить посылку
        .header__btns-panel
            .header__top-panel
                a(href='registration.html').header__btn.btn.header__btn--yellow Регистрация
                div(role='button').header__btn.btn.header__btn--lightYellow.js-btn_entrance-window.js-show_overlay Вход в кабинет
            .add-panel
                a(href='basket.html').add-panel__btn.btn.add-panel__basket Корзина
                    i.fa.fa-shopping-cart.add-panel__basket-ico
            .clearfix
        .clearfix