
block headline
    .content__headline=const_howMach

form(action='').form.form-cost
    include ../include/f-cost/f-cost__wrapper

    block f-cost__add-options

    .delivery  
        .row
            include ../mixins/deliveryCol
                            
            +deliveryCol('turn-item turn-item--closed')
            +deliveryCol('turn-item turn-item--closed')
            +deliveryCol('turn-item turn-item--closed')
            +deliveryCol('turn-item turn-item--closed')