
block headline

.progress
    .row
        .col-xs-50.col-lg-25
            .progress__step.progress__step--yellow
                .progress__ico
                    i.font-ico.font-ico-registration
                p.progress__paragraph.paragraph Reg&shy;is&shy;ter on Store&shy;busters
                .progress__arrow.progress__arrow--yellow
        .col-xs-50.col-lg-25
            .progress__step.progress__step--lightYellow
                .progress__ico
                    i.font-ico.font-ico-payment
                p.progress__paragraph.paragraph pay for goods and enter your UK address in shop 
                .progress__arrow.progress__arrow--lightYellow
        .col-xs-50.col-lg-25
            .progress__step.progress__step--yellow
                .progress__ico
                    i.font-ico.font-ico-package
                p.progress__paragraph.paragraph we get your or&shy;ders and store it for you
                .progress__arrow.progress__arrow--yellow
        .col-xs-50.col-lg-25
            .progress__step.progress__step--lightYellow
                .progress__ico
                    i.font-ico.font-ico-delivery
                p.progress__paragraph.paragraph we pack and send par&shy;cel to your home
                
    block link
    
    block paragraph