.progress.progress--1170
            
    .row

        .col-xs-50.col-msm-33.col-lg-20
            .progress__step.progress__step--yellow
                .progress__ico
                    i.font-ico.font-ico-delivery
                .progress__paragraph.paragraph Sign up
                .progress__arrow.progress__arrow--yellow

        .col-xs-50.col-msm-33.col-lg-20
            .progress__step.progress__step--lightYellow
                .progress__ico
                    i.fa.fa-bars
                .progress__paragraph.paragraph fill the form
                .progress__arrow.progress__arrow--lightYellow

        .col-xs-50.col-msm-33.col-lg-20
            .progress__step.progress__step--yellow
                .progress__ico
                    i.fa.fa-credit-card
                .progress__paragraph.paragraph pay for order
                .progress__arrow.progress__arrow--yellow

        .col-xs-50.col-msm-33.col-lg-20
            .progress__step.progress__step--lightYellow.progress__step--penultimate
                .progress__ico
                    i.fa.fa-cube
                .progress__paragraph.paragraph we buy and receive
                .progress__arrow.progress__arrow--lightYellow

        .col-xs-50.col-msm-33.col-lg-20
            .progress__step.progress__step--yellow.progress__step--last
                .progress__ico
                    i.fa.fa-credit-card
                .progress__paragraph.paragraph ship your orders
                .progress__arrow.progress__arrow--yellow
                
    block link