block headline
    .content__headline How much is it?

form(action='').form.form-cost.delivery-form
    include ../include/f-cost/f-cost__wrapper


    block f-cost__add-options 

    .delivery.delivery--indent  
        .row
            include ../mixins/deliveryCol
                            
            +deliveryCol('turn-item')
            +deliveryCol('turn-item')
            +deliveryCol('turn-item')
            +deliveryCol('turn-item')
            
             
            



