.row.advantages.centered
    .col-xs-100.col-msm-33
        .advantages__ico: i.font-ico.font-ico-cubes
        p.paragraph.paragraph--centered.advantages__paragraph
            |10 лет на рынке
            br
            |10000 посылок
            br
            |и 7000 клиентов
    .col-xs-100.col-msm-33
        .advantages__ico: i.font-ico.font-ico-chat
        p.paragraph.paragraph--centered.advantages__paragraph
            |Бесплатная
            br
            |помощь на всех
            br
            |этапах покупок
    .col-xs-100.col-msm-33
        .advantages__ico: i.font-ico.font-ico-speaker
        p.paragraph.paragraph--centered.advantages__paragraph
            |Прозрачность
            br
            |и отсутствие
            br
            |скрытых комиссий