.faq-window
    .faq-window__list
        .js-close_overlay.btn.btn--close.js-close-btn_faq-window.faq-window__close-btn
        a(href='often-questions.html').faq-window__link.link FAQ
        br
        a(href='agent.html').faq-window__link.link Как это работает
        br
        a(href='payment-method.html').faq-window__link.link Способы оплаты
        br
        a(href='feedback.html').faq-window__link.link Обратная связь