.faq-window
    .btn.btn--close
    .faq-window__container
        include ../../mixins/faq
                
        +faq([
            {
                name: 'FAQ',
                href: 'often-questions.html'
            },
            {
                name: const_howWork,
                href: 'agent.html'
            },
            {
                name: 'Способы оплаты',
                href: 'payment-method.html'
            },
            {
                name: 'Обратная связь',
                href: 'feedback.html'
            },
        ], faqId)
