.faq-window
    .faq-window__list
        .js-close_overlay.btn.btn--close.js-close-btn_faq-window.faq-window__close-btn
        include ../../mixins/faq
                
        +faq([
            {
                name: 'FAQ',
                href: 'often-questions.html'
            },
            {
                name: const_howWork,
                href: 'agent.html'
            },
            {
                name: 'Способы оплаты',
                href: 'payment-method.html'
            },
            {
                name: 'Обратная связь',
                href: 'feedback.html'
            },
        ], faqId)
