@import "css/normalize.min.css" all;
@import "css/main.css" all;
@import "css/header.css" all;
@import "css/overlay.css" all;
@import "css/track.css" all;
@import "css/add-panel.css" all;
@import "css/basket.css" all;
@import "css/menu.css" all;
@import "css/menu-window.css" all;
@import "css/submenu.css" all;
@import "css/faq.css" all;
@import "css/faq-window.css" all;
@import "css/form.css" all;
@import "css/content.css" all;
@import "css/wrapper.css" all;
@import "css/paragraph.css" all;
@import "css/link.css" all;
@import "css/table.css" all;
@import "css/switch.css" all;
@import "css/btn.css" all;
@import "css/turn-item.css" all;
@import "css/tags.css" all;
@import "css/blog.css" all;
@import "css/progress.css" all;
@import "css/select.css" all;
@import "css/advantages.css" all;
@import "css/payment.css" all;
@import "css/footer-menu.css" all;
@import "css/social.css" all;
@import "css/subscribe.css" all;
@import "css/team.css" all;
@import "css/footer.css" all;
@import "css/reviews.css" all;
@import "css/f-cost.css" all;
@import "css/delivery.css" all;
@import "css/top-slider.css" all;
@import "css/entrance.css" all;
@import "css/entrance-window.css" all;
@import "css/forgot-password-window.css" all;
@import "css/contacts.css" all;
@import "css/staff.css" all;
@import "css/vacancies.css" all;
@import "css/add-services.css" all;
@import "css/benefit.css" all;
@import "css/v-adress.css" all;
@import "css/catalog.css" all;
@import "css/shops.css" all;
@import "css/payment-method.css" all;
@import "css/buy.css" all;
@import "css/list.css" all;
@import "css/commission.css" all;
@import "css/pay.css" all;
@import "css/shop-list.css" all;
@import "css/pseudo-table.css" all;
@import "css/detail-product.css" all;



/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.fix-panel{
    width: 100%;
    position: fixed;
    left: 0;
   bottom: 0;
    line-height: 2.4;
    font-size: 13px;
}

.fix-panel__wrapper{
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

fix-panel__wrapper:before,
fix-panel__wrapper:after{
    display: table;

    content: ' ';
}

fix-panel__wrapper:after{
    clear: both;
}

fix-panel__wrapper,
fix-panel__wrapper:before,
fix-panel__wrapper:after{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


.fix-panel__container{
    float: right;
}

.fix-panel__btn {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    color: #3c3c3b;
}

.fix-panel__btn:first-child{
    margin-right: 10px;
}

.fix-panel__btn--yellow {
    background: #f7de22;
}

.fix-panel__btn:before,
.fix-panel__btn:after{
    position: absolute;
    top: 0;
    display: block;
    width: 0;
    height: 0;
    content: '';
}

.fix-panel__btn:after {
    left: 120px;
    border-top: 30px solid;
    border-right: 8px solid transparent;
}

.fix-panel__btn--yellow:after {
    border-top-color: #f7de22;
}

.fix-panel__btn:before {
    left: -8px;
    border-bottom: 30px solid;
    border-left: 8px solid transparent;
}

.fix-panel__btn--yellow:before {
    border-bottom-color: #f7de22;
}

.fix-panel__btn--lightYellow {
    background: #fef39c;
}

.fix-panel__btn--lightYellow:before {
    border-bottom-color: #fef39c;
}

.fix-panel__btn--lightYellow:after {
    border-top-color: #fef39c;
}

.calculator-window{
    position: absolute;
    z-index: 30;
    top: 50px;
    left: 50%;

    visibility: hidden;

    width: 96%;
    min-width: 320px;
    max-width: 1440px;
    height: auto;

    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);

    background: #fff;

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
    line-height: 2;
    margin-bottom: 50px;
}

.calculator-window--show{
    visibility: visible;
}

.calculator-window__list{
    position: relative;

    width: 100%;
    margin: 0 auto;
    padding: 40px 0;

    list-style-type: none;

    -webkit-transition: all .3s;
       -moz-transition: all .3s;
            transition: all .3s;
    -webkit-transform: translateY(20%);
       -moz-transform: translateY(20%);
        -ms-transform: translateY(20%);
            transform: translateY(20%);

    opacity: 0;
}

.calculator-window__list--show{
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);

    opacity: 1;
}

.calculator-window__close-btn{
    top: .5%;
    right: 4%;
}

.back-call-window{
    position: fixed;
    z-index: 2000;
    top: 50%;
    left: 50%;

    visibility: hidden;

    width: 100%;
    min-width: 320px;
    max-width: 840px;
    height: auto;
    padding: 60px 0;

    -webkit-transform: translateX(-50%) translateY(-50%);
       -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);

    background: #fff;

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
}

.back-call-window--show{
    visibility: visible;
}

.back-call-window__list{
    position: relative;

    width: 75.5%;
    max-width: 710px;
    margin: 0 auto;
    padding: 0;

    list-style-type: none;

    -webkit-transition: all .3s;
       -moz-transition: all .3s;
            transition: all .3s;
    -webkit-transform: translateY(20%);
       -moz-transform: translateY(20%);
        -ms-transform: translateY(20%);
            transform: translateY(20%);

    opacity: 0;
}

.back-call-window__list--show{
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);

    opacity: 1;
}

.back-call-window__close-btn{
    top: -7%;
    right: -6%;
}

.back-call-window__call.btn{
    max-width:  100%;
}

.timepicker{
    position: relative;
}

.timepicker__ico{
    font-size: 35px;

    position: absolute;
    top: 1px;
    right: 1px;

    width: 73px;
    height: 73px;
    
    text-align: center;

    background: #fef39c;
}

.ui-timepicker-wrapper{
    z-index: 10001;

    overflow-y: auto;

    width: 75%;
    height: 150px;
    margin: 0;

    border: 1px solid #b4b4b4;
    outline: none;
    background: #fff;
    background-color: rgb(255, 255, 255);
    background-image: initial;
    background-attachment: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-clip: initial;
    background-origin: initial;
    background-size: initial;
    

    background-repeat-x: initial;
    background-repeat-y: initial;
}

.ui-timepicker-list{
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.ui-timepicker-list li{
    padding: 10px 20px;
}







/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px){
    
    .fix-panel__btn {
        width: 135px;
        padding: 10px 0;
    }
    
    .fix-panel__btn:after {
        left: 135px;
        border-top-width: 50px;
        border-right-width: 13px;
    }
    
    .fix-panel__btn:before {
        left: -13px;
        border-bottom-width: 50px;
        border-left-width: 13px;
    }
    
    .fix-panel__btn:first-child{
        margin-right: 20px;
    }

    .calculator-window__close-btn{
        top: 2.5%;
    }
    
    .ui-timepicker-wrapper{
        width: 300px;
    }
    
}

@media only screen and (min-width: 992px) {

}


@media only screen and (min-width: 1200px) {

}



