.fix-panel
   .fix-panel__wrapper
       .fix-panel__container
           .fix-panel__btn.btn.js-btn_calculator-window.js-show_overlay
               i.fa.fa-calculator
           .fix-panel__btn.btn
               i.fa.fa-comments-o
