.fix-panel
   .fix-panel__wrapper
       .fix-panel__container
           .fix-panel__btn.btn.js-btn_calculator-window.js-show_overlay
               i.font-ico.font-ico-calculator
           .fix-panel__btn.btn
               i.font-ico.font-ico-livechat
