extends ../../block.templates/template__progress--1170

block headline
    h1.content__headline How it working?
    .content__headline.content__headline--h2 Do you like Eu&shy;rope shopping but shop not accept your card?

block paragraph
    p.paragraph. 
            Sign Up for free today and our shopping as&shy;sistants ser&shy;vice help you buy any goods in UK or 
            Eu&shy;rope, even if shop not accept your card or ship just in UK. We buy your items, receive it for free, 
            check it, store and consol&shy;idate, pack and ship your goods anywhere in the world.
    