extends ../../block.templates/template__progress

block headline
    .content__headline.content__headline--h2 You like buy goods in UK Amazon or on Ebay?

block paragraph
    p.paragraph
        |Af&shy;ter reg&shy;istration you get free UK address and can use it for your pur&shy;chases in shops. 
        |We receive your or&shy;ders and consol&shy;idate it with oth&shy;er goods. Big packages usu&shy;ally 
        |cheap&shy;er than small ones. Our range of couri&shy;ers help you save up to 30% of shipping cost.