extends ../block.templates/template
    
block content 
    .light-blue
        .content
            .content__wrapper.contacts
                h1.content__headline О нас
                .row
                    .col-xs-100.col-md-50
                        .contacts__map#map
                    .col-xs-100.col-md-50.contacts__desc
                        .row.contacts__block
                            .col-xs-100.col-sm-50
                                .row
                                    .col-xs-100
                                        strong Офис в Лондоне:
                                        br
                                        |Адрес: 15 Lupin road,
                                        br
                                        |Ipswich, IP2 0NU
                                        br
                                        |VAT GB178621188
                                        br
                                        |Номер регистрации 08385436
                                    .col-xs-100
                                        strong Контактные данные:
                                        br
                                        |Москва:
                                        a().link  8 800 333 05 28
                                        br
                                        |Англия: 
                                        a().link  +44 75633 59 211
                                        |Email:
                                        a(href='mailto:shopogolic@shopogolic.net').link  shopogolic@shopogolic.net
                            .col-xs-100.col-sm-50.contacts__w-time
                                |Рабочее время:
                                br
                                |Понедельник - Пятница:
                                br
                                |07:00 - 19:00
                                br
                                |Суббота: 09:00 - 17:00
            .content__wrapper
                .content__headline How working mail forward&shy;ing address?
                include ../include/progress/progress
            .divider
            .content__wrapper
                .content__headline История, репутация
                .row 
                    .col-xs-100.col-msm-50
                        p.paragraph
                            |Легенда компании - это что-то неосязаемое, но делающее компанию привлекательной, интересной, наделенной историей.
                            |Вы никогда не задумывались, почему популярны зажигалки Zippo, ножи Victorinox, машины Austin Martin? 
                            |Имя компании значит немного, если за именем ничего не стоит - история, эмоция, герои, легенды. 
                            |Что такое Apple? Это Стив Джоббс! Что такое Victorinox - это нож с пожизненной гарантией на сталь! 
                            |Есть у каждого солдата в Швейцарии, да и просто каждого уважающего себя швейцарца. 
                            |Zippo - зажигалка прошедшая Вьетнам и показавшая себя как самая надежная зажигалка. 
                            |Носить в кармане Zippo все равно, что носить немного славы и геройства. Austin Martin? 
                            |Это машина самого знаменитого агента MI6 Джеймса Бонда. Можно продолжать до бесконечности.
                        p.paragraph
                            |Легенда компании - это что-то неосязаемое, но делающее компанию привлекательной, интересной, наделенной историей.
                            |Вы никогда не задумывались, почему популярны зажигалки Zippo, ножи Victorinox, машины Austin Martin? 
                            |Имя компании значит немного, если за именем ничего не стоит - история, эмоция, герои, легенды. 
                            |Что такое Apple? Это Стив Джоббс! Что такое Victorinox - это нож с пожизненной гарантией на сталь! 
                            |Есть у каждого солдата в Швейцарии, да и просто каждого уважающего себя швейцарца. 
                            |Zippo - зажигалка прошедшая Вьетнам и показавшая себя как самая надежная зажигалка. 
                            |Носить в кармане Zippo все равно, что носить немного славы и геройства. 
                            |Austin Martin? Это машина самого знаменитого агента MI6 Джеймса Бонда. Можно продолжать до бесконечности.
                    .col-xs-100.col-msm-50
                        p.paragraph
                            |Легенда компании - это что-то неосязаемое, но делающее компанию привлекательной, интересной, наделенной историей. 
                            |Вы никогда не задумывались, почему популярны зажигалки Zippo, ножи Victorinox, машины Austin Martin? 
                            |Имя компании значит немного, если за именем ничего не стоит - история, эмоция, герои, легенды. 
                            |Что такое Apple? Это Стив Джоббс! Что такое Victorinox - это нож с пожизненной гарантией на сталь! 
                            |Есть у каждого солдата в Швейцарии, да и просто каждого уважающего себя швейцарца. 
                            |Zippo - зажигалка прошедшая Вьетнам и показавшая себя как самая надежная зажигалка. Носить в кармане 
                            |Zippo все равно, что носить немного славы и геройства. Austin Martin? Это машина самого знаменитого агента 
                            |MI6 Джеймса Бонда. Можно продолжать до бесконечности. Легенда компании - это что-то неосязаемое, 
                            |но делающее компанию привлекательной, интересной, наделенной историей. 
                            |Вы никогда не задумывались, почему популярны зажигалки Zippo, ножи Victorinox, машины Austin Martin? 
                            |Имя компании значит немного, если за именем ничего не стоит - история, эмоция, герои, легенды. 
                            |Что такое Apple? Это Стив Джоббс! Что такое Victorinox - это нож с пожизненной гарантией на сталь! 
                            |Есть у каждого солдата в Швейцарии, да и просто каждого уважающего себя швейцарца. 
                            |Zippo - зажигалка прошедшая Вьетнам и показавшая себя как самая надежная зажигалка. Носить в кармане Zippo все равно, 
                            |что носить немного славы и геройства. 
                            |Austin Martin? Это машина самого знаменитого агента MI6 Джеймса Бонда. Можно продолжать до бесконечности.
            .divider
            .content__wrapper.staff
                .content__headline
                .row
                    .col-xs-100.col-msm-50
                        .row.no-indent--top.staff__elem
                            .col-sm-30.staff__img
                                img(src='images/1316879278_080928apple.jpg' alt='').img.img--response
                            .col-xs-100.col-sm-70
                                .staff__info
                                    strong Лавров Лавр Лаврович
                                    br
                                    |директор,
                                    br
                                    |духовный наставник
                    .col-xs-100.col-msm-50
                        .row.no-indent--top.staff__elem
                            .col-sm-30.staff__img
                                img(src='images/1316879278_080928apple.jpg' alt='').img.img--response
                            .col-xs-100.col-sm-70
                                .staff__info
                                    strong Лавров Лавр Лаврович
                                    br
                                    |директор,
                                    br
                                    |духовный наставник 
                    .col-xs-100.col-msm-50
                        .row.no-indent--top.staff__elem
                            .col-sm-30.staff__img
                                img(src='images/1316879278_080928apple.jpg' alt='').img.img--response
                            .col-xs-100.col-sm-70
                                .staff__info
                                    strong Лавров Лавр Лаврович
                                    br
                                    |директор,
                                    br
                                    |духовный наставник 
                    .col-xs-100.col-msm-50
                        .row.no-indent--top.staff__elem
                            .col-sm-30.staff__img
                                img(src='images/1316879278_080928apple.jpg' alt='').img.img--response
                            .col-xs-100.col-sm-70
                                .staff__info
                                    strong Лавров Лавр Лаврович
                                    br
                                    |директор,
                                    br
                                    |духовный наставник 
                    .col-xs-100.col-msm-50
                        .row.no-indent--top.staff__elem
                            .col-sm-30.staff__img
                                img(src='images/1316879278_080928apple.jpg' alt='').img.img--response
                            .col-xs-100.col-sm-70
                                .staff__info
                                    strong Лавров Лавр Лаврович
                                    br
                                    |директор,
                                    br
                                    |духовный наставник 
                    .col-xs-100.col-msm-50
                        .row.no-indent--top.staff__elem
                            .col-sm-30.staff__img
                                img(src='images/1316879278_080928apple.jpg' alt='').img.img--response
                            .col-xs-100.col-sm-70
                                .staff__info
                                    strong Лавров Лавр Лаврович
                                    br
                                    |директор,
                                    br
                                    |духовный наставник 
                    .col-xs-100.col-msm-50
                        .row.no-indent--top.staff__elem
                            .col-sm-30.staff__img
                                img(src='images/1316879278_080928apple.jpg' alt='').img.img--response
                            .col-xs-100.col-sm-70
                                .staff__info
                                    strong Лавров Лавр Лаврович
                                    br
                                    |директор,
                                    br
                                    |духовный наставник 
                    .col-xs-100.col-msm-50
                        .row.no-indent--top.staff__elem
                            .col-sm-30.staff__img
                                img(src='images/1316879278_080928apple.jpg' alt='').img.img--response
                            .col-xs-100.col-sm-70
                                .staff__info
                                    strong Лавров Лавр Лаврович
                                    br
                                    |директор,
                                    br
                                    |духовный наставник 
                                    
            .divider
            .content__wrapper
                .content__headline Вакансии
                .vacancies
                    .row.vacancies__row
                        .col-xs-100.col-msm-50
                            .vacancies__elem
                                p.paragraph
                                    strong Требуется падаван
                                    br
                                    strong Опыт работы:
                                        |не требуется
                                    br
                                    strong Образование:
                                        |начальная ступень
                                p.paragraph
                                    |Требуется супер-падаван для обучения джедайскому мастерству и последующим трудоусторойстовом на 
                                    |сторону добра (будете махать синим мечом) откликнуться на вакансию
                        .col-xs-100.col-msm-50
                            .vacancies__elem
                                p.paragraph
                                    strong Требуется падаван
                                    br
                                    strong Опыт работы:
                                        |не требуется
                                    br
                                    strong Образование:
                                        |начальная ступень
                                p.paragraph
                                    |Требуется уборщица-тайный агент для промышленного шпионажа. 
                                    |Преимуществом будет навык находится в разных местах одновременно и в разных состояниях. 
                                    |Котов просьба не беспокоиться. откликнуться на вакансию
                    .centered
                        a(href='vacancy.html').link.link--centered Подать заявку

////<?php echo(isMobile()) ? "draggable: false" : ""; ?>
prepend script
    script
        |var map;
        |function initMap() {
        |map = new google.maps.Map(document.getElementById('map'), {
        |center: {lat: 52.0529457, lng: 1.1295665},
        |zoom: 17,
        |scrollwheel: false,
        |draggable: false
        |});

        |var marker = new google.maps.Marker({
        |map: map,
        |place: {
        |location: {lat: 52.0529457, lng: 1.1295665},
        |query: 'shopogolic'
        |},
        |attribution: {
        |source: 'shopogolic',
        |webUrl: 'https://shopogolic.net/'
        |}
        |});

        |var infoWindow = new google.maps.InfoWindow({
        |content: '15 Lupin road, Ipswich, IP2 0NU'
        |});

        |marker.addListener('click', function() {
        |infoWindow.open(map, marker);
        |});
        |};
    script(src='https://maps.googleapis.com/maps/api/js?callback=initMap' async defer)