extends ../block.templates/template  

prepend header
    -var faqId = 1
    -var menuId = 2
    -var submenuId = '11'

block content
    .light-blue
        .content
            .content__wrapper
                include ../include/progress/progress--1170.agent-page.jade
            .divider
            .content__wrapper
                include ../include/progress/progress.agent-page.jade
            .divider
            .content__wrapper
                .content__headline Buy in your favou&shy;rite shops
                .row.blue.shops
                    mixin shops
                        .col-xs-100.col-msm-50.col-md-25
                            a(href='detail-payment-method.html').link.shops__img-link
                                img(src='/images/oYsoqpi4L2g.jpg').img.img--response
                            a(href='detail-payment-method.html').link.strong Интернет магазин Aldo
                            
                    +shops
                    +shops
                    +shops
                    +shops
                    +shops
                    +shops
                    +shops
                    +shops
                    
                a(href='catalog-shops.html').btn--block.btn Каталог магазинов
                
            .divider
            .content__wrapper
                include ../include/choose/choose
 
                a(href='registration.html').btn--block.btn Начать покупки