extends ../block.templates/template
    
block content
    .light-blue
        .content
            .content__wrapper.content__wrapper--blueBordered
                include ../include/f-cost/f-cost

    