extends ../block.templates/template

block header
    include ../include/header/header
    
block content
    .content
        .content__wrapper.content__wrapper--blueBordered
            include ../include/f-cost/f-cost
                
block footer
    include ../include/footer/footer
    