extends ../block.templates/template

prepend header
    - var menuId = 3
    
block content
    .light-blue
        .content
            .content__wrapper
                h1.content__headline Доставка
                p.paragraph.
                    Store&shy;busters use only best shipping ser&shy;vice and you can choose how to send your par&shy;cel.
                    Use calculator to find best price for you and save mon&shy;ey. You have access to 6 differ&shy;ent shipping
                    meth&shy;ods with top couri&shy;er ser&shy;vices
              
                include ../include/f-cost/f-cost__roll
                
                p.paragraph Every parcel have insurance up to 20 pounds, but you can choose to have additional insurance for you shipping.
                
            .content__wrapper
                .content__headline Shopogolic Express
                p.paragraph.
                    Разработка команды  собственная доставка, цены ниже USPS Priority, расчет по физическому весу для посылок 
                    размерами до 150см (сумма трех сторон)! Посылки летят прямым рейсом США-Москва, в Москве проходят таможню, 
                    и после этого доставляются получателям. Чтобы узнать, доступен ли данный способ доставки в вашем городе 
                    или стране — воспользуйтесь нашим замечательным калькулятором.
                p.paragraph.
                    В России, Беларуси, и Казахстане посылки доставляется несколькими, специально отобранными курьерками до 
                    двери + много точек самовывоза по всей России (и в Минске, Беларусь). Тип доставки (курьерская/самовывоз) и 
                    конкретную точку самовывоза можно выбрать при создании отправки. Обратите внимание, что срок хранения 
                    посылки в пункте самовывоза — 7 дней. По истечении этого срока заказ поступает на склад временного хранения. Повторная доставк
                p.paragraph.
                    ействия при превышении таможенного лимита стоимости посылки
                    Крупногабаритные посылки (сумма сторон больше чем 150см) — могут доставляться на пару дней дольше.
                    Список городов доставки и всех ПВЗ Карта пунктов самовывоза Обсуждение на форуме Правила заполнения декларации
                    
            .content__wrapper
                .content__headline Guarantee
                p.paragraph.
                    В случае доставки курьером покупатели могут оплатить заказ как наличным, так и безналичным способом. 
                    Мы постоянно совершенствуем нашу службу доставки для того, чтобы сделать ее максимально удобной. Чтобы 
                    быть к Вам как можно ближе мы регулярно открываем новые пункты самовывоза. Нам очень важны Ваши отзывы. 
                    Пожалуйста, поделитесь предложениями и мнением о сайте и сервисе на нашем форуме.
                    В случае доставки курьером покупатели могут оплатить заказ как наличным, так и безналичным способом. 
                    Мы постоянно совершенствуем нашу службу доставки для того, чтобы сделать ее максимально удобной. Чтобы 
                    быть к Вам как можно ближе мы регулярно открываем новые пункты самовывоза. Нам очень важны Ваши отзывы. 
                    Пожалуйста, поделитесь предложениями и мнением о сайте и сервисе на нашем форуме.
                p.paragraph.
                    В случае доставки курьером покупатели могут оплатить заказ как наличным, так и безналичным способом. 
                    Мы постоянно совершенствуем нашу службу доставки для того, чтобы сделать ее максимально удобной. Чтобы 
                    быть к Вам как можно ближе мы регулярно открываем новые пункты самовывоза. Нам очень важны Ваши отзывы. 
                    Пожалуйста, поделитесь предложениями и мнением о сайте и сервисе на нашем форуме.
                    В случае доставки курьером покупатели могут оплатить заказ как наличным, так и безналичным способом. 
                    Мы постоянно совершенствуем нашу службу доставки для того, чтобы сделать ее максимально удобной. Чтобы 
                    быть к Вам как можно ближе мы регулярно открываем новые пункты самовывоза. Нам очень важны Ваши отзывы. 
                    Пожалуйста, поделитесь предложениями и мнением о сайте и сервисе на нашем форуме.

prepend footer
    - var footerMenuId = 7
    