extends ../block.templates/template

block header
    include ../include/header/header
    
block content
    .light-blue
        .content
            .content__wrapper.blog__wrapper
                h1.content__headline
                    | Готовимся к отпуску всей семьей:
                    | пляжные игрушки для детей
                p.paragraph
                    | Наконец-то настала пора отпусков и поездок на морское побережье!
                    | Для большинства семей поездки на море являются самым ярким событием не только лета,
                    | но и всего года. Особенно много эмоций во время летних отпусков и каникул получают дети.
                    | Поэтому срочно готовимся к путешествиям, не забывая при этом о маленьких энергичных шкодниках.
                p.paragraph
                    | Отличным развлечением для малышей во время пребывания на пляже являются разнообразные игрушки.
                    | И если вы ищете что-то оригинальное и интере-сное для своих чад, интернет-магазины Англии станут
                    | настоящей находкой. Ярким подтверждением этому является данный обзор.
                p.paragraph
                    | В интернет-магазине 
                    a.blog__link.link(href='britishparts.co.uk') britishparts.co.uk
                    | представлен огромный выбор разнообразных запчастей для
                    | автомобилей марок RANGE ROVER, ROVER, LAND ROVER, LOTUS и JAGUAR. Здесь вы сможете купить
                    | запчасти напрямую из Англии, как для более старых моделей автомобилей, так и для самых современных.
                .row.blog__img-container
                    .col-xs-100.col-msm-50
                        img.img.img--response(src='/images/2.jpg', alt='')
                    .col-xs-100.col-msm-50
                        img.img.img--response(src='/images/2.jpg', alt='')
                p.paragraph
                    | В магазине продаются автозапчасти от производителя.
                    | Если в данный момент их нет в наличии, вы можете сделать предварительный заказ,
                    | все товары будут доставлены в кратчайшие сроки. Преимуществом данного магазина является высокое качество
                    | продукции, и ее низкая стоимость. Можете быть уверены, что делая заказ здесь, вы сможете сэкономить
                    | в 2-3 раза больше по сравнению с тем, если бы необходимые детали покупались на территории России или стран СНГ.
                .row.blog__img-container
                    .col-xs-100
                        img.img.img--response(src='images/oYsoqpi4L2g.jpg', alt='')
                p.paragraph
                    | Наконец-то настала пора отпусков и поездок на морское побережье! Для большинства семей поездки
                    | на море являются самым ярким событием не только лета, но и всего года. Особенно много эмоций
                    | во время летних отпусков и каникул получают дети. Поэтому срочно готовимся к путешествиям,
                    | не забывая при этом о маленьких энергичных шкодниках.
                p.paragraph
                    | Отличным развлечением для малышей во время пребывания на пляже являются разнообразные игрушки.
                    | И если вы ищете что-то оригинальное и интере-сное для своих чад, интернет-магазины Англии станут
                    | настоящей находкой. Ярким подтверждением этому является данный обзор.
                p.paragraph
                    | В интернет-магазине britishparts.co.uk представлен огромный выбор разнообразных запчастей для 
                    | автомобилей марок RANGE ROVER, ROVER,
                    | LAND ROVER, LOTUS и JAGUAR. Здесь вы сможете купить запчасти напрямую из Англии, как для более старых моделей автомобилей,
                    | так и для самых современных.
                .row.blog__img-container
                    .col-xs-100
                        img.img.img--response(src='images/japan.jpg', alt='')
                p.paragraph
                | Детская пляжная сумка не относится к категории игрушек, тем не менее дети в восторге от ее яркого дизайна
                | и вместительности – ведь в этой сумке можно отнести на пляж весь вышеперечисленный аресенал игрушек
                | и много другое! Родители же по достоинству оценят практичность сетчатого материала, из которого выполнена сумка,
                | ведь вытряхнуть весь песок не составит абсолютно никакого труда.

                
block footer
    include ../include/footer/footer