extends ../block.templates/template
    
block content
    .light-blue
        .content
            .content__wrapper
                h1.content__headline Карты VISA + 2.95% + 0.20
                .commission комиссия
                    .commission__rate +0.20
                p.paragraph.
                    Оплачивайте товары системой PayPal. Это самая надежнаяи быстрая система  оплаты товара, 
                    они принимают любые банковские карты через систему PayPal.
                p.paragraph.strong Что вам необходимо сделать, чтобы пополнить счет без регистрации в пайпал?
                p.paragraph.
                    В личном кабинете нажмите пополнить счет и выбирите пополне-ние через paypal введите сумму 
                    на которую хотите пополнить свой баланс Cистема автоматически посчитает процент за перевод. 
                    Нажмите «далее» и подтвердите вашу оплату.
                    После подтвержения вы попадете на страницу с возможностью выбора оплаты: через свой счетв системе или банковской картой.
                .centered 
                    img(src='/images/screen.png' alt='').img.img--response
                p.paragraph.
                    Если у вас есть аккаунт в системе Paypal то вы можете ввести свои данные, а если нет то нажмите оплатить с 
                    банковской карты и далее выберите страну проживания, например Россия. После этого в правом верхнем углу 
                    появиться выбор языка, русский в том числе.
                .centered 
                    img(src='/images/screen.png' alt='').img.img--response
                p.paragraph.
                     Введите правильно все свои данные и нажмите кнопку продолжить. Далее следуя инструкциям завершите платеж.
                     Если вы все сделали правильно то ваш счет в нашей системе пополнится автоматически. Если возникли трудности обратитесь в нашу                                  службу поддержки где вам непременно помогут. <br><strong>Комиссия на ввод средств 3.9% + 0.20 за транзакцию.</strong>
