extends ../block.templates/template

prepend header
    - var menuId = 1
    
block content
    .light-blue
        .content
            .content__wrapper.payment-method
                .row
                    .col-xs-100.col-sm-50.col-msm-20 
                        img(src='/images/oYsoqpi4L2g.jpg' alt='').img.img--response
                    .col-xs-100.col-sm-50.col-msm-80
                        .payment-method__headline Britishparts.co.uk
                        a(href='').link Britishparts.co.uk
                p.paragraph.
                    В интернет-магазине britishparts.co.uk представлен огромный выбор разнообразных запчастей для 
                    автомобилей марок RANGE ROVER, ROVER, LAND ROVER, LOTUS и JAGUAR. Здесь вы сможете купить запчасти напрямую из 
                    Англии, как для более старых моделей автомобилей, так и для самых современных.
                p.paragraph.
                    В магазине продаются автозапчасти от производителя. Если в данный момент их нет в наличии, вы можете 
                    сделать предварительный заказ, все товары будут доставлены в кратчайшие сроки. Преимуществом данного 
                    магазина является высокое качество продукции, и ее низкая стоимость. Можете быть уверены, что делая заказ 
                    здесь, вы сможете сэкономить в 2-3 раза больше по сравнению с тем, если бы необходимые детали покупались на 
                    территории России или стран СНГ.
                    
            .divider
            .content__wrapper
                .content__headline.
                    Нашли товар в этом магазине? 
                    Мы поможем вам его купить!
                .buy
                    form(action='').form
                        .row
                            .col-xs-100.col-msm-75
                                input(type='text').form__item.form__input.form__item--no-b-margin
                            .col-xs-100.col-msm-25
                                input(type='submit' value='Купить').form__item.form__submit.form__submit--msm-100
                                
prepend footer
    - var footerMenuId = 4
