extends ../block.templates/template

prepend header
    -var faqId = 3
    
block content
    .light-blue
        .content
            .content__wrapper
                h1.content__headline Обратная связь
                
                form(action='').form.wrapper.wrapper--815
                    .form__holder
                        input(type='text' placeholder='Фымилия, Имя').form__input.form__item.js-required
                        .form__ico-result
                    .form__holder
                        input(type='email' placeholder='E-mail').form__input.form__item.js-required
                        .form__ico-result
                    .form__holder
                        textarea(name='' placeholder='Сообщение').form__item.form__textarea.js-required
                        .form__ico-result
                    input(type='submit' data-i='1' value='Отправить').form__item.form__submit
