extends ../block.templates/template

block header
    include ../include/header/header.authorized.jade
    
block content
    .light-blue
        .content
            .content__wrapper
                p.paragraph.
                    When I first heard about Sass and other CSS preprocessors, my exact thoughts weren’t quite enthusiastic. 
                    “Why do we need another tool for something that already works as beautifully as CSS?”. “I won’t use that”. 
                    “My CSS is ordered enough to not need it”. “A preprocessor is for people who don’t know how to write CSS, if you 
                    know how to write CSS you won’t need a preprocessor”. After all, processors are for people who do not know how to write 
                    CSS. If they did, they wouldn’t need need a preprocessor. And I actually avoided them for a while, until I was forced to use 
                    it in several projects.
                p.paragraph.
                    Embrace Sass once, and you may never want to go back to vanilla CSS again
                p.paragraph.
                    I didn’t realise how much I was enjoying working with Sass until recently, when I had to switch back to vanilla CSS in 
                    a project. During that time, I learned so much that I decided to praise Sass and make this a better world, and make you a 
                    happier person!
