extends ../block.templates/template
    
block content
    .light-blue
        .content
            .content__wrapper
                h1.content__headline Новости
                .row 
                    .col-xs-100.col-sm-50.col-msm-33.col-md-25.blog__prev.tags
                        .tags--yellow
                            mixin tags(list)
                                each item in list
                                    a.tags__link.link= item
                            +tags([
                                ['тег один'],['тег два'],['тег три'],['тег четыре'],['тег пять'],['тег шесть'],['тег семь'],['тег восемь']                                                    ])
                    mixin news(content)
                        each article in content
                            a(href='detail.html').col-xs-100.col-sm-50.col-msm-33.col-md-25.blog__prev
                                img(src='/images/1316879278_080928apple.jpg' alt='').img.img--response
                                .blog__prev-content
                                    each paragraph in article
                                        p.blog__paragraph.paragraph!= paragraph
                                            
                    +news([                 
                        ['Готовимся к отпуску всей семьей: пляжные игрушки для детей','Наконец-то настала пора отпусков и поездок на морское побережье! Для большинства семей поездки на море являю-тся самым ярким событием не только лета, но и всего года. Особенно много эмоций во время летних отпусков и каникул получают дети. '],
                        ['Модные и недорогие модели обуви в интернет-магазине River Island', 'Любая современная модница в курсе, что никакой образ не будет завершенным без грамотно подобранной обуви. Но найти стильные, красивые, при этом ка-чественные и недорогие, туфли'],
                        ['Модные и недорогие модели обуви в интернет-магазине River Island', 'Любая современная модница в курсе, что никакой образ не будет завершенным без грамотно подобранной обуви. Но найти стильные'],
                        ['Модные и недорогие модели обуви в интернет-магазине River Island', 'Любая современная модница в курсе, что никакой образ не будет завершенным без грамотно подобранной обуви. Но найти стильные'],
                        ['Модные и недорогие модели обуви в интернет-магазине River Island', 'Нечто подобное бывало и в прошлые века. Платон, для которого мышление было искусством, первый задумался над этим чудом. А Буонарроти? Разве не выразил он его в своем цикле сонетов, высеченных в цветном мраморе? Но в наш век это удивительно…'],
                        ['Модные и недорогие модели обуви в интернет-магазине River Island', 'Grid layout работает за счёт «разбивки» элемента — называемого grid-контейнером — на ряды и колонки. Grid-элементы — непосредственные потомки grid-контейнера могут затем разместиться в этом grid-е. Grid-элементы могут занимать одну grid-ячейку, либо охватывать несколько рядов или колонок.'],
                        ['Модные и недорогие модели обуви в интернет-магазине River Island', 'С чем ассоциируется у подавляющего большинства людей Страна восходящего солнца? В первую очередь — с самураями, аниме, роботами и извращенцами. ']                           
                    ])
