extends ../block.templates/template
	
block overlay
	.overlay.overlay--show
		.overlay__container.overlay__container--show.overlay__container--full
			.btn.btn--close
			.calculator-window
					include ../include/f-cost/f-cost__popup
append script
	script.
		$('body').addClass('fixed');