extends ../block.templates/template
    
block overlay
    .overlay.overlay--show
        .overlay__container.overlay__container--show
            .btn.btn--close
            .forgot-password-window           
                .headline Восстановить пароль
                form(action='').form
                    label.form__label Введите E-mail, указанный при регистрации
                    .form__holder
                        input(type='email' placeholder=const_Email name='').form__item.form__input.js-required
                        .form__ico-result
                    input(type='submit').form__item.form__submit
            
append script
    script.
        $('body').addClass('fixed');
            