extends ../block.templates/template
    
block content
    .light-blue
        .content
            .content__wrapper
            
                h1.content__headline Оплата заказа
            
                include ../include/form-entrance/form-entrance__pay
                    
                p.paragraph.paragraph--centered Впервые на StoreBusters? 
                    a(href='pay_2.html').link Зарегистрируйтесь!
