extends ../block.templates/template
    
block content
    .light-blue
        .content
            .content__wrapper.wrapper.wrapper--1120
                h1.content__headline Refer StoreBusters
                p.paragraph.paragraph--centered
                    |Earn £2.50 cashback every time you successfully introduce friends, family, colleagues, and your social media pals to StoreBusters.
                p.strong.paragraph.paragraph--centered How does Refer Quidco work?
                p.paragraph.paragraph--centered
                    |In our opinion, the biggest compliment you can pay us is recommending StoreBusters.
                    br
                    |As a pat on the back for doing so, we offer you a cashback bonus which you can either keep for yourself
                    |or share with the person you refer.
                    br
                    |It's a very simple process and only takes a few moments, just follow the easy steps outlined below:
                .list
                    .list__item.list__item--yellow-rectangle.list__item--yellow-b-triangle
                        p.paragraph.paragraph--centered.strong 1. What do you want to refer?
                        p.paragraph.paragraph--centered
                            |Choose whether to refer StoreBusters or one of our 
                            a.link retailers
                    .list__item.list__item--lightYellow-rectangle
                        p.paragraph.paragraph--centered.strong 2. How do you want to share us?
                        p.paragraph.paragraph--centered
                            |You can contact your friends by email and social media or share your personalised referral link. <br>
                            |You can even post StoreBusters banners on your blog for added exposure.
                p.paragraph.paragraph--centered
                    |Ready to refer your friends? Start referring friends now!
                    br
                    |Remember, your friend has to earn £5 cashback before you receive your bonus,
                    |so be sure to encourage them to shop after they've joined.
                a.btn.btn--block Start refering friends now

prepend footer
    - var footerMenuId = 6 