extends ../block.templates/template
    
block content
    .light-blue
        .content
            .content__wrapper                
                include ../include/form-registration/form-registration.single-page.jade
    
block agreement 
    include ../include/agreement/agreement
            