extends ../block.templates/template

block header
    include ../include/header/header
    
block content
    .light-blue
        .content
            include ../include/reviews/reviews.single-page.jade
            
block footer
    include ../include/footer/footer