extends ../block.templates/template

prepend header
    - var submenuId = '02'
    - var menuId = 0

block content
    .light-blue
        .content
            .content__wrapper
                .content__headline Your mail forward&shy;ing address for shopping
                p.paragraph.paragraph--centered
                    |Use your UK mail forward&shy;ing address to buy all your fa&shy;vorite items and ship them to your home country.<br>
                    |Get your UK address today and start unlim&shy;ited shopping on Ebay, Amazon, Zara, Clarks or any shop and save 
                    |mon&shy;ey on international shipping rates.
                    br
                    |Easy cre&shy;ate account on our web site and start use your address af&shy;ter few minutes.
                
                .row.v-adress
                    .col-xs-100.col-msm-50.col-lg-33
                        .row
                            .col-xs-100.col-sm-25
                                .v-adress__ico: i.fa.fa-archive
                            .col-xs-100.col-sm-75.v-adress__desc 
                                |Unlim&shy;ited space
                                br 
                                |for your or&shy;ders
                    .col-xs-100.col-msm-50.col-lg-33
                        .row
                            .col-xs-100.col-sm-25
                                .v-adress__ico: i.fa.fa-plus
                            .col-xs-100.col-sm-75.v-adress__desc 
                                |No commis&shy;sion just 1 pound
                                br  
                                |per or&shy;der
                    .col-xs-100.col-msm-50.col-lg-33
                        .row
                            .col-xs-100.col-sm-25
                                .v-adress__ico: i.fa.fa-angellist
                            .col-xs-100.col-sm-75.v-adress__desc 
                                |You can or&shy;der goods for anywhere
                                br
                                |in UK or Eu&shy;ropean Union
                    .col-xs-100.col-msm-50.col-lg-33
                        .row
                            .col-xs-100.col-sm-25
                                .v-adress__ico  %
                            .col-xs-100.col-sm-75.v-adress__desc 
                                |Free packaging,
                                br 
                                |consol&shy;idation and stor&shy;age
                    .col-xs-100.col-msm-50.col-lg-33
                        .row
                            .col-xs-100.col-sm-25
                                .v-adress__ico: i.fa.fa-cubes
                            .col-xs-100.col-sm-75.v-adress__desc 
                                |No any fees for big
                                br
                                |or bulky parcels
            .divider
            .content__wrapper
                .content__headline How working mail forward&shy;ing address?
                include ../include/progress/progress
            
    .separator
    .content__wrapper
        include ../include/form-registration/form-registration
    .separator
    .light-blue
        .content
            .content__wrapper
                include ../include/choose/choose
                
prepend footer
    - var footerMenuId = 1
    
block agreement 
    include ../include/agreement/agreement