extends ../block.templates/template
    
block content
    .light-blue
        .content
            .content__wrapper
                h1.content__headline For business
                p.paragraph.
                    Если вы ищите партнеров за рубежом, рекомендуем вам остановиться именно на Англии. 
                    Для тех кто имеет интернет магазины или просто ведет бизнес деятельность в России, Украине и 
                    странах СНГ мы предлагаем расширить свой ассортимент и добавить качественные товары из Английских магазинов.
                p.paragraph.
                    В Великобритании появляется возможность приобретать товары из так называемых сток-магазинов или с крупных оптовых баз 
                    по очень привлекательным ценам. Английская одежда украсят любую коллекцию и придадут вашему бизнесу новый облик. 
                    Наша компания предлагает свои услуги по поиску партнеров в Англии и закупки товаров оптом с Английских магазинов и аукционов.
                .content__headline.content__headline--h2 Что такое сток (stock)?
                p.paragraph.
                    Когда у больших супермаркетов и шопинг центров заканчиваются распродажи, товара на складах очень много или просто не удается                                   реализовать, они предлагают сток магазинам купить его по низким ценам оптом.
                p.paragraph.
                    Англии много компаний,  которые скупают такой товар и затем перепродают его более мелким оптовикам или частным 
                    предпринимателям для его дальнейшей продажи на Ebay или в своих магазинах. Продают они обычно паллетами или 
                    коробками и при больших заказах доставляют его абсолютно бесплатно.
                .content__headline.content__headline--h2 Почему это выгодно? 
                p.paragraph.
                    Большая часть оптовых товаров  это невостребованные вещи с распродаж или акций, которые закончились в магазинах.
                    Среди такого товара много так называемого «бренда», который можно перепродать по вполне выгодной цене. 
                    Бывает, что например паллет электроники стоит всего 500-800 фунтов и на нем плазменный телевизор,  который после продажи 
                    покроет почти все расходы на покупку таких товаров, а остальные товары это прибыль продавца.
                p.paragraph.
                    Если заказ большой, то доставка по Англии будет бесплатная и вам останется только заплатить за доставку опта в 
                    Россию или страны СНГ.
                p.paragraph.
                    Мы ищем партнеров заинтересованных в постоянном сотрудничестве и сделаем все возможное, чтобы доставить ваш товар 
                    быстро, удобно по приемлемой цене. Наша компания поможет вам провести переговоры с продавцами и найти для вас надежных 
                    и постоянных партнеров. Мы открыты для любых предложений для закупки и доставке товаров оптом из Англии.
                    Наши специалисты ответят на все вопросы и помогут минимизировать траты связанные с доставкой опта из Англии.
                .content__headline.content__headline--h2 Как это работает? 
                p.paragraph.
                    Доставка опта подразумевает под собой полное сопровождение и подготовку всей необходимой документации 
                    для безболезненного перемещения товара через таможню.
                p.paragraph.centered Все средства перечисляются банковским переводом на наш расчетный счет.
                .content__headline.content__headline--h2 Есть 2 варианта сотрудничества с юридическими лицами:
                p.paragraph
                    strong Первый вариант
                    br
                    |подойдет большим магазинам и предпринимателям с опытом, которым нужна вся документация и сертификация товара.
                    br
                    |Мы заключаем с вами контракт на покупку товара и его дальнейшую доставку в Россию или СНГ, оптовые товары покупаем 
                    |без наценки и процентов.
                    br
                    |Мы находим и договариваемся о цене опта и выставляем вам счет, за покупку.
                    br
                    |После получения нами товара, наши сотрудники проверяют его и если нужна сертификация готовятся все необходимые данные, 
                    |ТНВЭД коды и другая информация вместе с таможенным брокером.
                    br
                    |Мы подготавливаем счет на оплату доставки и услуг по подготовке и отправляем груз, после оплаты счета.
                    br
                    |Груз попадает на таможню, мы помогаем вам с брокером его растаможить и оплатить пошлины, а так же получить сертификаты.
                    br
                    |После оплаты всех пошлин мы высылаем акт приема сдачи и вы получаете товары.
                    br
                    |Это длительный и дорогой процесс, поэтому нужно подойти к нему со всей ответственностью. 
                    |Мы можем вам помочь найти таможенного брокера или работать с вашим.
                p.paragraph
                    strong Второй вариант
                    br
                    |упрощенный и подойдет для начинающих бизнесменов, совместных покупок, небольших магазинов и онлайн магазинам.
                p.paragraph
                    |Мы заключаем договор на аутсортинг вашего магазина или вашей компании. 
                    |Это договор при котором вам не нужна полная документация и сертификация, товар проходит таможню по упрощенной схеме.
                    br
                    |Находим поставщика и покупаем вам товары, без наценки и процентов.
                    br
                    |Возможно использование виртуального адреса
                    br
                    |После получения товара мы его храним и рассылаем сразу вашим клиентам, таким образом, обходя таможенные препятствия.
                    br
                    |Ваши клиенты получают товары, как будто от вашего магазина или лица.
                    br
                    |Таким образом, вам не нужно делать сертификаты, вы не нарушаете таможенные лимиты, груз идет официально по 
                    |договору об услугах, вы получаете все счета и документы для вашей бухгалтерии

            .content__wrapper
                .content__headline Преимущества такого сотрудничества
                .wrapper.wrapper--940
                    ul.list
                        li.list__item.list__item--yellow Вы не платите наценки и сможете экономить на товарах.
                        li.list__item.list__item--yellow Вы не нарушаете таможенные лимиты и значит вам не нужно об этом беспокоиться.
                        li.list__item.list__item--yellow
                            |Мы предоставим вам всю отчетную документацию и вы всегда сможете
                            |видеть ваши расходы.
                        li.list__item.list__item--yellow
                            |Специально выделенный менеджер, который ведет ваш проект и помогает 
                            |вам на всех стадиях.
                        li.list__item.list__item--yellow
                            |Так же вы получаете бесплатную упаковку и при желании мы можем ваши посылки 
                            |упаковывать в вашу специальную упаковку с вашим логотипом.
                        li.list__item.list__item--yellow
                            |Так же вы рассылаете посылки непосредственно вашим клиентам и экономите на доставке. 
                            |При больших объемах возможны скидка на доставку.
                p.paragraph.strong.paragraph--centered
                    |Если вас заинтересовало наше предложение и вы готовы начать работать и развивать ваш бизнес,
                    br
                    |пишите нам на имеил на shopogolic@shopogolic.net с пометкой «для бизнеса».
