.footer-menu   
    mixin footerMenu(elements)
        nav.footer-menu__content
            each element, i in elements
                if (i === footerMenuId)
                    a(href= element.href).footer-menu__link.footer-menu__link--active.link= element.name
                else 
                    a(href= element.href).footer-menu__link.link= element.name
            .clearfix
                    
    +footerMenu([
        {
            href : 'news.html',
            name : 'Блог'
        },
        {
            href : 'delivery.html',
            name : 'Service'
        },
        {
            href : 'about.html',
            name : 'Контакты'
        },
        {
            href : 'reviews.html',
            name : 'Отзывы'
        },
        {
            href : 'catalog-shops.html',
            name : 'Магазины'
        },
        {
            href : 'often-questions',
            name : 'FAQ'
        },
        {
            href : 'ref.html',
            name : 'Реферальная программа'
        },
        {
            href : 'delivery-single-page.html',
            name : 'Доставка и гарантия'
        },
    ])

        