.footer-menu
    nav.footer-menu__content
        a(href='news.html').footer-menu__link.link Блог
        a(href='delivery.html').footer-menu__link.link Услуги
        a(href='about.html').footer-menu__link.link Контакты
        a(href='reviews.html').footer-menu__link.link Отзывы
        a(href='catalog-shops.html').footer-menu__link.link Магазины
        a(href='often-questions.html').footer-menu__link.link FAQ
        a(href='ref.html').footer-menu__link.link Реферальная программа
        a(href='delivery-single-page.html').footer-menu__link.link Доставка и гарантия
        .clearfix