extends ../../block.templates/template__registration-form

block headline
    h1.content__headline Регистрация

block reg-Email
    p.paragraph.paragraph--centered Зарегистрироваться через E-mail

block reg-social
    p.paragraph.paragraph--centered Зарегистрироваться через социальную сеть
    .entrance.entrance--registration
        include ../entrance/entrance__social-ico
    