
.f-cost__wrapper
    .row
        .col-xs-100.col-msm-33
            label(for='').form__label Вес посылки
            input(type='text').form__item.form__input.no-indent--bottom
        .col-xs-100.col-sm-50.col-msm-33
            label(for='').form__label Ваша страна
            select(name='').form__item.no-indent--bottom
                option(value='Россия') Россия
                option(value='Украина') Украина                               
        .col-xs-100.col-sm-50.col-msm-33
            label(for='').form__label Страна назначения
            select(name='').form__item
                option(value='Англия') Россия
                option(value='Германия') Украина
