extends ../../block.templates/template__f-cost

block f-cost__add-options
    .f-cost--white
        .content__headline.content__headline--no-indent.js-turn-item_add-options.roll
            span.turn-item.turn-item--closed.turn-item--add-options Дополнительные опции

        .f-cost__wrapper.add-options
            include f-cost__add-options
            .centered.js-turn-item_add-options.roll: a.link.link--centered.turn-item.turn-item--closed свернуть