form(action='').form.f-cost
    .f-cost__wrapper
        .row
            .col-xs-100.col-msm-33
                label(for='').form__label Вес посылки
                input(type='text').form__item.form__input.no-indent--bottom
            .col-xs-100.col-sm-50.col-msm-33
                label(for='').form__label Ваша страна
                select(name='').form__item.no-indent--bottom
                    option(value='Россия') Россия
                    option(value='Украина') Украина                               
            .col-xs-100.col-sm-50.col-msm-33
                label(for='').form__label Страна назначения
                select(name='').form__item
                    option(value='Англия') Россия
                    option(value='Германия') Украина

    .f-cost--white
        .content__headline.content__headline--no-indent.js-turn-item_add-options.roll
            span.turn-item.turn-item--closed.turn-item--add-options Дополнительные опции

        .f-cost__wrapper.add-options
            .row
                .col-xs-100.col-sm-50.col-msm-33.col-lg-25
                    label(for='').form__label Стоимость товара
                    input(type='text').form__item.form__input.no-indent--bottom

                .col-xs-100.col-sm-50.col-msm-33.col-lg-25
                    label(for='').form__label Доставка по стране
                    input(type='text').form__item.form__input.no-indent--bottom

            .row.f-cost__filters
                .col-xs-100.col-sm-50.col-msm-33.col-lg-25
                    .form__item.no-indent--bottom.form__item--dashed
                        input(type='checkbox' name='').form__checkbox#clear
                        label(for='clear').form_checkLabel Очистка

                .col-xs-100.col-sm-50.col-msm-33.col-lg-25
                    .form__item.no-indent--bottom.form__item--dashed
                        input(type='checkbox' name='').form__checkbox#foto
                        label(for='foto').form_checkLabel Фото

                .col-xs-100.col-msm-33.col-lg-25
                    .form__item.no-indent--bottom.form__item--dashed
                        input(type='checkbox' name='').form__checkbox.f-cost__pkg#pkg
                        label(for='pkg').form_checkLabel
                            .f-cost__pkg-txt
                                |Дополнительная
                                br
                                |упаковка

                .col-xs-100.col-sm-50.col-msm-33.col-lg-25
                    .form__item.no-indent--bottom.form__item--dashed
                        input(type='checkbox' name='').form__checkbox#ver
                        label(for='ver').form_checkLabel Проверка

                .col-xs-100.col-sm-50.col-msm-33.col-lg-25
                    .form__item.no-indent--bottom.form__item--dashed
                        input(type='checkbox' name='').form__checkbox#insurance
                        label(for='insurance').form_checkLabel Страховка

            .centered.js-turn-item_add-options.roll
                a.link.link--centered.turn-item.turn-item--closed свернуть

     .delivery  
         .row
             .col-xs-100.col-msm-50.col-md-25
                 .delivery__item
                    .delivery__subitem
                        .delivery__logo: i.fa.fa-yelp
                        .delivery__name
                         |Shopogolic
                         br
                         |Express
                    .divider
                    .delivery__subitem
                        .delivery__price 2000
                        .delivery__time 18 дней
                    .divider
                    .delivery__subitem
                        .delivery__l-commission
                            |Комиссия
                            br
                            |платежной
                            br
                            |системы
                        .delivery__r-commission 1,88р
                        .clearfix
                    .delivery__subitem.delivery-desc
                        |В России доставляется  курьером и в удобно расположенные пункты самовывоза. Стоимоть при этом - очень примлимая
                    .delivery__turn.js-turn-item_delivery-desc.roll
                        span.turn-item.turn-item--closed Свернуть
             .col-xs-100.col-msm-50.col-md-25
                 .delivery__item
                    .delivery__subitem
                        .delivery__logo: i.fa.fa-yelp
                        .delivery__name
                         |Shopogolic
                         br
                         |Express
                    .divider
                    .delivery__subitem
                        .delivery__price 2000
                        .delivery__time 18 дней
                    .divider
                    .delivery__subitem
                        .delivery__l-commission
                            |Комиссия
                            br
                            |платежной
                            br
                            |системы
                        .delivery__r-commission 1,88р
                        .clearfix
                    .delivery__subitem.delivery-desc
                        |В России доставляется  курьером и в удобно расположенные пункты самовывоза. Стоимоть при этом - очень примлимая
                    .delivery__turn.js-turn-item_delivery-desc.roll
                        span.turn-item.turn-item--closed Свернуть
             .col-xs-100.col-msm-50.col-md-25
                 .delivery__item
                    .delivery__subitem
                        .delivery__logo: i.fa.fa-yelp
                        .delivery__name
                         |Shopogolic
                         br
                         |Express
                    .divider
                    .delivery__subitem
                        .delivery__price 2000
                        .delivery__time 18 дней
                    .divider
                    .delivery__subitem
                        .delivery__l-commission
                            |Комиссия
                            br
                            |платежной
                            br
                            |системы
                        .delivery__r-commission 1,88р
                        .clearfix
                    .delivery__subitem.delivery-desc
                        |В России доставляется  курьером и в удобно расположенные пункты самовывоза. Стоимоть при этом - очень примлимая
                    .delivery__turn.js-turn-item_delivery-desc.roll
                        span.turn-item.turn-item--closed Свернуть
             .col-xs-100.col-msm-50.col-md-25
                 .delivery__item
                    .delivery__subitem
                        .delivery__logo: i.fa.fa-yelp
                        .delivery__name
                         |Shopogolic
                         br
                         |Express
                    .divider
                    .delivery__subitem
                        .delivery__price 2000
                        .delivery__time 18 дней
                    .divider
                    .delivery__subitem
                        .delivery__l-commission
                            |Комиссия
                            br
                            |платежной
                            br
                            |системы
                        .delivery__r-commission 1,88р
                        .clearfix
                    .delivery__subitem.delivery-desc
                        |В России доставляется  курьером и в удобно расположенные пункты самовывоза. Стоимоть при этом - очень примлимая
                    .delivery__turn.js-turn-item_delivery-desc.roll
                        span.turn-item.turn-item--closed Свернуть

            
