
.overlay.js-overlay_agreement-window.overlay--black.js-hide_overlay.overlay--scroll
    .agreement-window
        .agreement-window__list
            .js-close_overlay.btn.btn--close.js-close-btn_agreement-window.agreement-window__close-btn
            .js-stopProp.light-blue.agreement-window__content
                .headline Условия соглашения
                p.paragraph.strong 1. Политика конфидициальности:
                p.paragraph.strong Предоставление информации Клиентом
                p.paragraph При регистрации на Сайте Shopogolic.net, Клиент предоставляет следующую информацию:
                ul.list 
                    li.list__item.list__item--official Фамилия, Имя, Отчество;
                    li.list__item.list__item--official Адрес электронной почты;
                    li.list__item.list__item--official Пароль для доступа к Сайту.
                p.paragraph
                    |Предоставляя свои персональные данные при регистрации на сайте, Клиент соглашается на их обработку, 
                    | в том числе и в целях продвижения товаров и услуг.
                p.paragraph
                    |Если Клиент не желает, чтобы его персональные данные использовались для продвижения Shopogolic.net,
                    |он может сообщить об этом в службу поддержки сайта.
                p.paragraph
                    |В таком случае вся полученная от Клиента информация будет использована только для обработки сделанных им заявок, 
                    |и доставки подтверждённых Заказов в магазине Shopogolic.net.
                p.paragraph
                    |При оплате заявки кредитной картой Клиентом на сайте, компания Shopogolic.net не хранит информацию о 
                    |данной кредитной карте.
                p.paragraph.strong Использование информации, предоставленной Клиентом на Сайте.
                p.paragraph Продавец использует информацию:
                ul.list 
                    li.list__item.list__item--official Для регистрации Клиента на Сайте;
                    li.list__item.list__item--official Для выполнения своих обязательств перед  Клиентом;
                    li.list__item.list__item--official Для оценки и анализа работы Сайта;
                p.paragraph Продавец вправе направлять Клиенту сообщения рекламно-информационного характера.
                p.paragraph.strong Разглашение информации, полученной Shopogolic.net
                p.paragraph
                    |Shopogolic.net  обязуется не разглашать полученную от Клиента информацию. Не считается нарушением предоставление                                               |Shopogolic.net  информации агентам и третьим лицам, действующим на основании договора с Shopogolic.net,
                    |для исполнения обязательств перед Клиентом.
                p.paragraph
                    |Не считается нарушением обязательств разглашение информации в соответствии с обоснованными и применимыми
                    |требованиями закона.
                p.paragraph
                    |Shopogolic.net вправе использовать технологию «cookies». «Cookies» не содержат конфиденциальную информацию 
                    |и не передаются третьим лицам.
                p.paragraph
                    |Shopogolic.net получает информацию о ip-адресе посетителя. Данная информация не используется для установления 
                    |личности посетителя.
                p.paragraph Shopogolic.net не несёт ответственности за сведения, предоставленные Клиентом на Сайте в общедоступной форме.
                p.paragraph Shopogolic.net не рассылает спам и Клиент всегда вправе отказаться от рассылки сообщений с нашего сайта.
                p.paragraph.strong 2. Условия договора:
                p.paragraph.strong Общие положения
                p.paragraph
                    |Исполнитель (Shopogolic.net) предоставляет посреднические услуги по покупке товаров в интернет-магазинах 
                    |и на аукциона Великобритании.
                p.paragraph
                    |Исполнитель оставляет за собой право вносить изменения в настоящее Соглашение, в связи с чем, 
                    |Клиент обязуется регулярно отслеживать изменения в Соглашении.
                p.paragraph Клиент соглашается с условиями данного соглашения, внося денежные средства на личный счет на сайте Shopogolic.net
                p.paragraph За свои услуги Исполнитель удерживает с клиента комиссию, указанную в разделе «Услуги».
                p.paragraph.strong Порядок предоставления услуг
                p.paragraph
                    |При добавлении товаров в личный кабинет клиент обязан указать полную стоимость товара, стоимость доставки товара до склада                                     |Исполнителя на территории Великобритании, а также налогов, действующих в данной стране. 
                    |В случае если клиент не указал необходимые данные или указал их неправильно, Исполнитель имеет право снять с 
                    |Пользовательского счета клиента сумму, необходимую для покрытия затрат, понесенных при покупке указанного клиентом 
                    |товара в размере не более 20% от стоимости товара при этом уведомив Клиента. При указании размеров 
                    |(для одежды, обуви и т.п.) необходимо указывать Английские размеры.
                p.paragraph
                    |Клиент несет ответственность за соответствие приобретаемого товара условиям доставки почтовой службы и 
                    |таможенному кодексу страны, в которой находится, для пересылки товара Клиенту Почтовой службой.
                p.paragraph
                    |В случае участия в аукционе через личный кабинет, клиент должен вносить необходимую сумму на личный счет 
                    |заблаговременно. В случае нехватки денежных средств на личном счету клиента, дальнейшее повышение ставок невозможно.
                p.paragraph Покупка на аукционе Ebay.com возможна только у продавцов с рейтингом 5 и выше.
                p.paragraph
                    |Исполнитель обязуется оплатить указанные Клиентом товары продавцу товара, от своего имени, но за счет Клиента, 
                    |при условии, что данный продавец осуществляет доставку товаров по территории Великобритании.
                p.paragraph
                    |В случае отсутствия заказанных Товаров на складе Продавца, Исполнитель вправе аннулировать указанный Товар 
                    |из Заказа Клиента и уведомить об этом Клиента путем направления электронного сообщения по адресу, 
                    |указанному при регистрации (либо сообщением в раздел «Внутренняя почта»).
                p.paragraph
                    |Исполнитель обязуется принять на свой склад товар, который доставила почтовая служба от продавца. 
                    |Срок бесплатного хранения товара Клиента на складе составляет 1 месяц. За хранение товаров и/или посылок 
                    |Клиента свыше бесплатного срока хранения Исполнителем взимается комиссия за хранение. Началом срока бесплатного 
                    |хранения является физическое прибытие товара на склад Исполнителя. В случае неоплаты или невостребованности этого 
                    |товара Клиентом в течение 6 месяцев со дня получения на склад, Исполнитель имеет право утилизировать товар, 
                    |продать или сдать на благотворительность.
                p.paragraph
                    |В случае если продавец не отправил товар, Исполнитель старается сделать все от него зависящее для возврата 
                    |уплаченных денежных средств, но не гарантирует их возврата и в этом случае не компенсирует потери 
                    |Клиента. Продавца выбирает клиент и за его действия Исполнитель ответственности не несет.
                p.paragraph
                    |При отказе по желанию Клиента от товара, который оплачен, с Клиента взимается стоимость обратной доставки 
                    |товара Продавцу, комиссионное вознаграждение при этом не возвращается. При отказе от товара после открытия 
                    |процедуры спора с продавцом комиссионное вознаграждение возвращается в размере 50% в случае, если предварительно 
                    |для товара заказывалась услуга проверки на складе и не возвращается, если услуга проверки товара на складе 
                    |предварительно заказана не была. Отказ от покупки с аукциона Ebay.com невозможен, если у продавца в 
                    |описании лота не указаны правила возврата товаров, если правила возврата товаров указаны, то возврат возможен 
                    |согласно этим правилам.
                p.paragraph
                    |Исполнитель обязуется упаковать полученные на склад товары Клиента согласно данным, которые клиент указал 
                    |в разделе «Посылки» личного кабинета. В случае, если посылка Клиента по весу или габаритам не может быть 
                    |отправлена тем способом доставки, который указал Клиент, Исполнитель имеет право изменить способ 
                    |доставки посылки.
                p.paragraph
                    |Исполнитель оставляет за собой право изменять тарифы и условия предоставления услуг в 
                    |одностороннем порядке, уведомляя клиентов путем размещения изменений на сайте.
                p.paragraph Исполнитель оставляет за собой право отказать Клиенту в приобретении любого товара без объяснения причин.
                p.paragraph
                    |Исполнитель оставляет за собой право отказать Клиенту в оказании услуг в случае использования Клиентом 
                    |нецензурной лексики и оскорблений в адрес Исполнителя.
                p.paragraph
                    |При отказе от заказа или его неоплаты и возникновения долга на балансе клиента, Исполнитель связывается с 
                    |Клиентом путем контактов в личном кабинете. Исполнитель имеет право взыскать неоплаченную сумму с Клиента 
                    |путем переговоров и договоренностей или обращения в компанию по взысканию долгов.
                p.paragraph.strong Пополнение Пользовательского счета клиента
                p.paragraph Пополнение Пользовательского счета возможно способами, указанными в разделе «Оплата».
                p.paragraph
                    |В случае неверного указания цены заказанного Клиентом товара, Исполнитель при первой возможности информирует 
                    |об этом Клиента для подтверждения либо аннулирования заказанного товара. При невозможности связаться с 
                    |Клиентом данный заказ на покупку товара считается аннулированным.
                p.paragraph Исполнитель не кредитует клиентов, не выкупает товары в долг и не отправляет Посылки в долг.
                p.paragraph.strong Формирование Посылки и Доставка товаров
                p.paragraph Доставка товаров осуществляется способами и по тарифам, указанным в разделе «Доставка» и «Услуги» сайта.
                p.paragraph
                    |Оплата доставки товаров Клиента производится отдельно от оплаты самих товаров. Стоимость доставки товаров 
                    |до Клиента указывается после того, как посылка упакована и взвешена. После упаковки посылки Исполнитель 
                    |не вскрывает упакованные посылки и не меняет товары. В случае нехватки денежных средств на счету клиента, 
                    |передача посылки в службу доставки будет задержана до погашения Клиентом долга на личном счету.
                p.paragraph
                    |Клиент может застраховать посылку, указав страховую сумму при оформлении посылки. Страховая премия 
                    |снимается с пользовательского счета клиента. В случае пропажи посылки, Исполнитель подает заявление в 
                    |почтовую службу на возмещение страховой суммы. В случае возмещения, Исполнитель зачисляет страховую сумму на счет Клиента.
                p.paragraph
                    |Исполнитель обязуется передать упакованную посылку с товарами клиента почтовой службе, 
                    |которую клиент указал в разделе «Посылки» личного кабинета.

                p.paragraph Услуги считаются полностью оказанными Исполнителем с момента передачи товаров Клиента почтовой службе.
                p.paragraph
                    |Исполнитель предоставляет Клиенту возможность самостоятельно заполнить счет и декларацию, который будет 
                    |вложен в посылку при оплате Клиентом данной услуги.
                p.paragraph
                    |Исполнитель не отвечает за действия почты, курьерских служб и транспортных компаний и не может влиять 
                    |на скорость доставки. Указанные на сайте сроки доставки являются приблизительными.
                p.paragraph
                    |Для использования услуги «Виртуальный адрес» необходимо подтвердить Вашу личность и правомерность совершаемой 
                    |покупки. Доставка посылок при использовании Клиентом услуги «Виртуальный адрес» возможна только адресатам, 
                    |имя которых совпадает с именем владельца банковской карты, с которой производилась оплата доставляемых в 
                    |данной посылке товаров.
                p.paragraph
                    |Виртуальный адрес запрещается использовать для открытия компаний или любых других юридических услуг. 
                    |Мы обязаны обратиться в организацию по формированию новых компаний в Англии «CompanyHouse» для 
                    |аннулирования любой деятельности любой новой компании на наш адрес.
                p.paragraph.strong Обязанности Исполнителя
                p.paragraph
                    |Исполнитель обязуется предоставить Клиенту Услуги, а также выполнять требования Клиента, 
                    |связанные с выполнением этих услуг, если данные требование не противоречат данному соглашению, 
                    |информации, указанной на сайте Shopogolic.net, а также действующему законодательству Великобритании.
                p.paragraph
                    |Исполнитель обязуется сохранять конфиденциальность предоставленных Клиентом данных и не 
                    |разглашать их третьим лицам, если это не требуется для выполнения условий данного соглашения.
                p.paragraph Предоставлять Клиенту информацию о выполнении поручений, указанных в данном соглашении.
                p.paragraph.strong Обязанности Клиента
                p.paragraph
                    |Клиент обязуется своевременно и в полном объеме предоставлять достоверную информацию, 
                    |необходимую для оказания Услуг Исполнителем. В случае недостатка такой информации или сомнений в 
                    |ее достоверности Исполнитель имеет право приостановить оказание Услуг.
                p.paragraph
                    |Клиент обязуется своевременно и в полном объеме оплачивать стоимость заказанных товаров, 
                    |стоимость их доставки до склада Исполнителя, налоги и другие расходы, возникающие в связи с 
                    |оказанием Услуг Исполнителем, а также стоимость комиссионного вознаграждения Исполнителя, стоимость 
                    |доставки товара до Клиента. В случае нехватки средств Исполнитель имеет право приостановить или 
                    |прекратить обслуживание Клиента.
                p.paragraph
                    |Клиент обязуется хранить все документы, подтверждающие оплату услуг Исполнителя, 
                    |до зачисления денежных средств на личный счет Клиента.
                p.paragraph Клиент обязуется самостоятельно отслеживать поступление товара на склад Исполнителя и его дальнейшую пересылку получателю.
                p.paragraph.strong Условия возврата и обмена
                p.paragraph
                    |В случае возврата/обмена стоимость доставки товара от Клиента Исполнителю и от Исполнителя Продавцу,
                    |а так же в обратных направлениях, оплачивается Клиентом.
                p.paragraph
                    |Исполнитель принимает решение о возможности возврата/обмена товара, полностью руководствуясь 
                    |решением Продавца о возможности возврата/обмена. При обнаружении Исполнителем брака, несоответствия
                    |заявленному наименованию или недостачи товара без предварительного заказа Клиентом услуги проверки данного 
                    |товара возврат/обмен товара возможен только при условии дополнительной оплаты услуг.
                p.paragraph
                    |В случае если Продавец принимает решение об отказе Клиенту в возврате/обмене, Исполнитель не 
                    |компенсирует Клиенту стоимость Товара, а решение о возможности повторного возврата Товара Клиенту 
                    |принимается Исполнителем на индивидуальной основе.
                p.paragraph
                    |Все операции по возврату/обмену осуществляются в полном соответствии с условиями Продавца, включая, 
                    |но не ограничиваясь сроками, процедурой и размером компенсации.
                p.paragraph
                    |Клиент должен учитывать сроки доставки Товара от Клиента Исполнителю, сроки обработки возврата/обмена на 
                    |складе Исполнителя (до 5 рабочих дней) и сроки доставки Товара от Исполнителя Продавцу, при расчете 
                    |возможности возврата/обмена Товаров Продавцу.
                p.paragraph Возврат средств Клиенту осуществляется после полного возврата стоимости товара Продавцом Исполнителю.
                p.paragraph
                    |Комиссия за услуги Исполнителя не возвращается не зависимо от решения Продавца о возможности/невозможности 
                    |возврата Товара.
                p.paragraph
                    |При повторной отправке обмененного товара, Клиент оплачивает полную стоимость обработки заказа 
                    |Исполнителем в соответствии с тарифами.
                p.paragraph.strong Ограничение ответственности
                p.paragraph
                    |Исполнитель не несет ответственности за любые расходы Клиента или прямой либо косвенный ущерб, который может 
                    |быть нанесен Клиенту вследствие использования услуг Исполнителя, причиненный Клиенту в результате использования 
                    |или невозможности использования Услуг и понесенный в результате ошибок, пропусков, перерывов в работе, 
                    |удаления файлов, изменения функций, дефектов, задержек в работе при передаче данных и т.п.
                p.paragraph
                    |Исполнитель не несет ответственности за действия смежных служб и сервисов, используемых для предоставления 
                    |Услуг Клиенту, но не принадлежащих Исполнителю, как то: банки, почтовые службы, провайдеры, Email-сервисы, 
                    |платежные системы и т.д.
                p.paragraph Исполнитель не несет ответственности за сроки доставки товара от Продавца к Исполнителю.
                p.paragraph
                    |Исполнитель не несёт ответственности за сроки получения ответов от продавцов и оставляет за собой право 
                    |связываться с продавцом спустя 14 дней после покупки товара.
                p.paragraph
                    |Исполнитель не несет ответственности за качество и комплектацию полученных на свой склад товаров, 
                    |а также не обеспечивает гарантией товары, приобретенные Клиентом с помощью Услуг Исполнителя.
                p.paragraph
                    |Исполнитель не проверяет товар, полученный от продавца на соответствие заявленным продавцом характеристикам 
                    |и в случае ошибки продавца не несет ответственности за несоответствие товара. Проверка товара возможна за 
                    |отдельную плату, согласно тарифам, указанным на сайте Shopogolic.net
                p.paragraph
                    |Исполнитель не несет ответственность за недобросовестность выбранных клиентом продавцов в случаях: товар 
                    |выслан с задержкой; товар выслан, но не соответствует описанию; товар не рабочий (хотя заявлен как рабочий); 
                    |товар вообще не выслан (случаи мошенничества).
                p.paragraph
                    |Клиент согласен не делать Исполнителя ответчиком или соответчиком по любым обязательствам и расходам,
                    |связанным с ущербом, нанесенным Клиенту в результате действия третьих лиц, включая Продавцов, 
                    |Почтовыми и курьерскими службами, платежными системами.
                p.paragraph
                    |В случае заполнения счета Клиентом или уполномоченными представителями 
                    |Исполнителя по поручению Клиента, оформленному в личном кабинете, ответственность за правильность и 
                    |полноту сведений, указанных в декларации и счете, несет Клиент.
                p.paragraph
                    |Исполнитель не несет ответственности за взимание Таможенных пошлин при доставке посылки, 
                    |не компенсирует их, а также не представляет интересы Клиента в органах таможни.
                p.paragraph
                    |Исполнитель не является сотрудником транспортной компании или почтовой службы и не несет ответственность 
                    |ни за один из способов пересылки товара.
                p.paragraph
                    |Исполнитель возмещает убытки Клиента по его заявлению, и только в случае, если заявленные убытки 
                    |явились результатом ошибок, допущенных служащими Исполнителя. При этом сумма возмещения не может 
                    |превышать комиссии исполнителя.
                p.paragraph.strong Форс-мажор
                p.paragraph 
                    |Стороны освобождаются от ответственности за частичное или полное неисполнение обязательств по настоящему 
                    |Соглашению, если это неисполнение явилось следствием обстоятельств непреодолимой силы, возникших после 
                    |заключения Соглашения в результате событий чрезвычайного характера, которые участник не мог ни предвидеть, 
                    |ни предотвратить разумными мерами (форс-мажор). К таким событиям чрезвычайного характера относятся: 
                    |наводнение, пожар, землетрясение, взрыв, шторм, эпидемия и иные явления природы, а также война или военные действия и т.п.
                p.paragraph.strong Разрешение споров
                p.paragraph
                    |В случае возникновения разногласий и споров, связанных с выполнениями условия данного 
                    |Соглашения стороны решают их путем переговоров.
                p.paragraph
                    |При регистрации и пополнения счета Клиент берет на себя все обязательства и соглашается с 
                    |данным соглашением и правилами использования сервиса.
                    
