.footer__social.social
    a(href='').social__link.link: i.fa.fa-vk
    a(href='mailto:shopogolic@shopogolic.net').social__link.link: i.fa.fa-envelope
    a(href='').social__link.link: i.fa.fa-facebook
