.footer__payment Способы оплаты
    .footer__payment-content.payment
        .payment__col: img(alt='Платежная система 1' src='images/payment.png')
        .payment__col: img(alt='Платежная система 2' src='images/payment.png')
        .payment__col: img(alt='Платежная система 3' src='images/payment.png')
        .payment__col: img(alt='Платежная система 4' src='images/payment.png')
        .payment__col: img(alt='Платежная система 5' src='images/payment.png')
        .payment__col: img(alt='Платежная система 5' src='images/payment.png')
        .clearfix