
footer(role='contentinfo').footer
    .footer__wrapper
        .footer-top
            .footer-top__left-part

                include footer__payment 

                include ../footer-menu/footer-menu

            .footer-top__right-part

                include footer__adress

                include footer__social

                .clearfix
            .clearfix
    .separator
    .footer__bottom
        .footer-bottom
            .footer-bottom__wrapper
                .footer-bottom__left-part.subscribe
                    .subscribe__headline Подпишитесь на новости, и получайте самые выгодные предложения:
                    form(action='').footer__form.form
                        input(type='email' name='').form__item.subscribe__email
                        input(type='submit' name='' value='Подписаться').form__item.subscribe__btn
                        .clearfix

                .footer-bottom__right-part
                    .team
                       .team__text Разработка
                       a(href='').team__link.link
                .clearfix

            include ../fix-panel/fix-panel

        .footer__divider
        .footer-bottom
            .footer-bottom__wrapper
                ul.terms-agreement
                    li.terms-agreement__item © Shopogolic ltd
                    li.terms-agreement__item Company 08385436
                    li.terms-agreement__item
                        a(href='').terms-agreement__link.link Cookie policy
                        a(href='').terms-agreement__link.link Terms and conditions
