.footer__social.social
    a(href='').social__link.link: i.font-ico.font-ico-vkontakte
    a(href='mailto:shopogolic@shopogolic.net').social__link.link: i.font-ico.font-ico-mail
    a(href='').social__link.link: i.font-ico.font-ico-facebook_footer
