.row.entrance__social-ico
    .col-xs-33.centered
        a.link.entrance__ico.entrance__ico--facebook
            i.font-ico.font-ico-facebook
    .col-xs-33.centered
        a.link.entrance__ico.entrance__ico--google-plus
            i.font-ico.font-ico-google
    .col-xs-33.centered
        a.link.entrance__ico.entrance__ico--twitter
            i.font-ico.font-ico-twitter