form(action='').form.search-form
    .row.no-indent--top
        .col-xs-100.col-msm-75
            .form__search
                input(type='text').form__item.form__input.form__input-search.no-indent--bottom
                .form__search-ico
                    i.font-ico.font-ico-search
        .col-xs-100.col-msm-25
            input(type='submit' value='Найти').form__item.form__input.form__submit.form__submit--msm-100