ul.catalog__categories
    li.catalog__item: a.catalog__link.link Мода
    li.catalog__item: a.catalog__link.link Электроника
    li.catalog__item: a.catalog__link.link Спорт и активный воздух
    li.catalog__item: a.catalog__link.link Детские товары
    li.catalog__item: a.catalog__link.link Авто. Мото
    li.catalog__item: a.catalog__link.link Красота, здоровье
    li.catalog__item: a.catalog__link.link Дом и сад
    li.catalog__item: a.catalog__link.link.catalog__link--active Коллекционирование
    li.catalog__item: a.catalog__link.link Музыка
    li.catalog__item: a.catalog__link.link Развлечения и игры
    li.catalog__item: a.catalog__link.link Товары для животных
    li.catalog__item: a.catalog__link.link Рукоделие
    li.catalog__item: a.catalog__link.link Другие товары