
.col-xs-100.col-msm-30.col-md-25
    include catalog__categories
.col-xs-100.col-msm-70.col-md-75
    .row

        mixin catalog(content)
            each item in content
                .col-xs-100.col-msm-50.col-md-33
                  a(href='detail-payment-method.html').link.catalog__img-link
                      img(src='/images/oYsoqpi4L2g.jpg' alt='').img.img--response
                  a(href='detail-payment-method.html').link.catalog__name-link.strong Интернет магазин Aldo
                  br
                  != item

        +catalog([
            ['это весь спектр обуви, сумок и аксессуаров для мужчин и женщин. На официальном сайте вы найдете выгодные предложения и сезонные распродажи, рекомендации стилистов и готовые модные образы.Широкий выбор размеров позволит'],
            ['это весь спектр обуви, сумок и аксессуаров для мужчин и женщин. На официальном сайте вы найдете выгодные предложения и сезонные распродажи, рекомендации стилистов и готовые модные образы. Широкий выбор размеров позволит подобрать.'],
            ['это весь спектр обуви, сумок и аксессуаров для мужчин и женщин. На официальном сайте вы найдете выгодные предложения и сезонные распродажи, рекомендации стилистов и готовые модные образы. Широкий выбор размеров позволит подобрать качественную обувь.'],
            ['это весь спектр обуви, сумок и аксессуаров для мужчин и женщин.  На официальном сайте вы найдете выгодные предложения и сезонные распродажи, рекомендации стилистов и готовые модные образы. Широкий выбор размеров позволит подобрать качественную обувь по ноге для занятий спортом, на выход или для повседневной жизни.'],
            ['это весь спектр обуви, сумок и аксессуаров для мужчин и женщин. На официальном сайте вы найдете выгодные предложения и сезонные распродажи, рекомендации стилистов и готовые модные образы. Широкий выбор размеров позволит подобрать.'],
            ['это весь спектр обуви, сумок и аксессуаров для мужчин и женщин. На официальном сайте вы найдете выгодные предложения и сезонные распродажи, рекомендации стилистов и готовые модные образы. Широкий выбор размеров позволит подобрать качественную обувь.']
            
        ])
        
        .clearfix
        .row
            .col-xs-100
                a.btn--block.btn Показать все
            
        
        // <div class="clearfix"></div>
           <div class="row">
                <div class="col-xs-100">
                    <a href="" class="btn--block btn">Показать все</a>
                </div>
           </div>