.catalog.catalog--bordered
    .row
        .col-xs-100.col-msm-30.col-md-25
            ul.catalog__categories
                li.catalog__item: a.catalog__link.link Мода
                li.catalog__item: a.catalog__link.link Электроника
                li.catalog__item: a.catalog__link.link Спорт и активный воздух
                li.catalog__item: a.catalog__link.link Детские товары
                li.catalog__item: a.catalog__link.link Авто. Мото
                li.catalog__item: a.catalog__link.link Красота, здоровье
                li.catalog__item: a.catalog__link.link Дом и сад
                li.catalog__item: a.catalog__link.link.catalog__link--active Коллекционирование
                li.catalog__item: a.catalog__link.link Музыка
                li.catalog__item: a.catalog__link.link Развлечения и игры
                li.catalog__item: a.catalog__link.link Товары для животных
                li.catalog__item: a.catalog__link.link Рукоделие
                li.catalog__item: a.catalog__link.link Другие товары
        .col-xs-100.col-msm-70.col-md-75
            .row
                .col-xs-100.col-msm-50.col-md-33
                      a(href='product-Amazon.html').link.catalog__img-link
                          img(src='/images/1316879278_080928apple.jpg' alt='').img.img--response
                      a(href='product-Amazon.html').link.catalog__name-link Джинсовая куртка
                .col-xs-100.col-msm-50.col-md-33
                      a(href='detailed-product-page-Sniper.html').link.catalog__img-link
                          img(src='/images/1316879278_080928apple.jpg' alt='').img.img--response
                      a(href='detailed-product-page-Sniper.html').link.catalog__name-link Платье миди в полоску
                .col-xs-100.col-msm-50.col-md-33
                      a(href='product-Amazon.html').link.catalog__img-link
                          img(src='/images/1316879278_080928apple.jpg' alt='').img.img--response
                      a(href='product-Amazon.html').link.catalog__name-link Платье-рубашка с акцентными швами
                .col-xs-100.col-msm-50.col-md-33
                      a(href='detailed-product-page-Sniper.html').link.catalog__img-link
                          img(src='/images/1316879278_080928apple.jpg' alt='').img.img--response
                      a(href='detailed-product-page-Sniper.html').link.catalog__name-link Джинсовое платье мини с вырезом сзади
                .col-xs-100.col-msm-50.col-md-33
                      a(href='product-Amazon.html').link.catalog__img-link
                          img(src='/images/1316879278_080928apple.jpg' alt='').img.img--response
                      a(href='product-Amazon.html').link.catalog__name-link Платье макси с длинными рукавами и двумя разрезами
                .col-xs-100.col-msm-50.col-md-33
                      a(href='detailed-product-page-Sniper.html').link.catalog__img-link
                          img(src='/images/1316879278_080928apple.jpg' alt='').img.img--response
                      a(href='detailed-product-page-Sniper.html').link.catalog__name-link Платье-футболка