.content__headline Why choose Store&shy;Busters?
.wrapper.wrapper--1170
    .row
        mixin icoBlock(mod, classIco, txt)
            div(class= mod).col-xs-100.col-md-20.centered
                .circle-ico
                    i(class= classIco).font-ico
                br
                =txt
        +icoBlock('col-msm-33','font-ico-chart','We have small commission')
        +icoBlock('col-msm-33','font-ico-queen','Officially registered in UK')
        +icoBlock('col-msm-33','font-ico-palm','hidden fees')
        +icoBlock('col-msm-50','font-ico-pigeon','Good online support')
        +icoBlock('col-msm-50','font-ico-headphones','Range of delivery couriers')