.top-slider#top-slider
    .top-slider__slide
        .row
            .col-xs-100.col-msm-50.centered
                img(src='images/slide.png' alt='slide 1').img.img--response
            .col-xs-100.col-msm-50
                .top-slider__content
                    .top-slider__headline
                        |Обновление
                        br
                        |бренда
                    .paragraph
                        |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet                                           |lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                        |Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        |Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
    .top-slider__slide
        .row
            .col-xs-100.col-msm-50.centered
                img(src='images/slide2.png' alt='slide 1').img.img--response
            .col-xs-100.col-msm-50
                .top-slider__content
                    .top-slider__headline
                        |Обновление
                        br
                        |бренда
                    .paragraph
                        |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet                                           |lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                        |Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        |Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
    .top-slider__slide
        .row
            .col-xs-100.col-msm-50.centered
                img(src='images/slide3.png' alt='slide 1').img.img--response
            .col-xs-100.col-msm-50
                .top-slider__content
                    .top-slider__headline
                        |Обновление
                        br
                        |бренда
                    .paragraph
                        |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet                                           |lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                        |Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        |Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
    .top-slider__slide
        .row
            .col-xs-100.col-msm-50.centered
                img(src='images/slide.png' alt='slide 1').img.img--response
            .col-xs-100.col-msm-50
                .top-slider__content
                    .top-slider__headline
                        |Обновление
                        br
                        |бренда
                    .paragraph
                        |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet                                           |lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                        |Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        |Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
